[2017-08-07 08:57] madmax75 opened #1 "Xiaomi and Homey 1.5.0-rc.2"
Is this version still working with Homey 1.5.0-rc.2?

[2017-08-09 16:25] TedTolboom commented on #1
Hi Madmax,

Xiaomi Zigbee devices are changing the encryption keys after pairing.

With this app, you will be able to get them paired (the right ID's are included), with some effort in keeping the devices awake, but currently Homey does not (yet) support exchanging the key...

So no sensor data is received by Homey.

Focus from Athom is to first get Zigbee stable and further implemented.

In the m

[2017-11-03 14:06] TedTolboom commented on #1
App has been released with Homey SW compatibility >=1.5.4

[2017-11-03 14:06] #1 closed

[2017-11-04 22:22] rickardp opened #10 "Xiaomi non-Aqara (WSDCGQ01LM) "round" temperature/humidity sensor not working"
There appears to be code for it in the repo, but the driver is never used.

I assume there are some problems with it? I don't know if it is within the scope of this project to support these sensors.

[2017-11-05 00:02] rickardp commented on #10
After reading the code some more I understand that the code for parsing the value out of the sensor is not even there, it appears the device is sending the data in a non-standard format.

I managed to extract the temperature and humidity information by parsing the string returned from the 65281 attribute (basically by putting the sensor in various places (like my freezer) and comparing values with

[2017-11-05 13:23] TedTolboom commented on #10
Hi @rickardp,

The reason why the round temperature / humidity sensor has not been included in the app store release is that the temperature and humidity clusters are not registered (correctly) during inclusion... When I check the wireshark logs, the device does send the attribute reports for both clusters.

Since these clusters are not available, the check on availability of the devices endpoint/

[2017-11-05 21:38] TedTolboom commented on #10
Hi @rickardp,
I've tested your approach throughout the day, but the sensor only starts reporting in the 65281 attribute around 30 minutes after initialisation and then typically every hour, or when the button is pressed.

Even settings 'maxIntTemp' to 900 seconds, or triggering the sensor, does not result in additional temperature reports.. Do you have other experience?

[2017-11-06 09:06] rickardp commented on #10
Hi @TedTolboom, thank you for the very informative answer! The solution to fix the mesh base code sounds like the correct way. My approach does indeed come with the price of quite poor report rate (once per hour sounds about right). For me that is quite acceptable, and something I would like configure anyway to conserve battery. When I put the sensor in the freezer I got a report within minutes, b

[2017-11-06 09:11] rickardp commented on #10
Sorry about closing and reopening, typing on my cell here :)

Just wanted to clarify that I am not configuring the sensor at all (at least that was my intent), since configuring the sensor causes an exception to be thrown somewhere in the Athom code (complains about the 65281 attribute missing).

[2017-11-16 10:28] rickardp commented on #10
The temperature sensor in now working.

[2017-11-16 10:28] #10 closed

[2017-11-16 10:45] TedTolboom commented on #10
Good to hear!

[2017-12-02 12:15] OWillekens opened #16 "LIMIT of adding Xiaomi-mi sensors to Homey?"
Is there a LIMIT of adding Xiaomi-mi sensors to Homey? I've installed the new update of the Homey software and I've added without any problems many TEMP/HUM sensors, wireless SWITCHES, OCCUPANCY sensors and some DOOR contacts. After adding the last 6 DOOR contacts, I can not add extra DOOR contacts to Homey anymore. The adding procedure is well known and I've tried different DOOR contacts to add e

[2017-12-04 08:37] TedTolboom commented on #16
Hi @OWillekens,

There are no limits I added in the Xiaomi app in the amount of devices you are able to add to Homey.
I suspect you are running on 1.5.4 or 1.5.5 Homey SW release. Correct?

Athom is currently working on 1.5.6 which is (I'm currently testing it) significantly improving speed on the Z-wave and Zigbee radio's. I don't have a timing when 1.5.6 will be released to experimental.

What y

[2017-12-04 19:44] OWillekens commented on #16
Hi Ted,
Many thanks for your feedback. I really appreciate this, because Xiaomi has many low cost sensors! My Homey is running on 1.5.4.
I have tried to pull the plug of Homey for >15min and then restart Homey.
Then I have tried again to add/couple 3 Xiaomi door sensors with Homey, without succes. Still the same result, no Zigbee sensor found.
Do you have other recommendations?
P.S. Athom replied

[2017-12-09 09:44] OWillekens commented on #16
Hi Ted,
Do you have other recommendations?
Homey has NO limits in adding devices/sensors. Has he Xiaomi app limits in adding sensors?
Also removing the battery in the last sensors is not solving the issue. Restart Homey is also no solution.
Hopefully I can try a last test next week when I receive some extra Neo Coolcam sensors. If I can add extra Neo Coolcam sensors, then I would state that someth

[2017-12-11 08:32] TedTolboom commented on #16
Hi Olivier,

Neo Coolcam sensors are Z-wave based, while the Xiaomi are Zigbee based.
In the Xiaomi Mi Zigbee app there are no limits blocking the addition of more sensors.

I do suspect that it is an issue that is caused by the Zigbee core (bandwith of the communication between Z-wave **and** Zigbee chip). This is a known issue.

Athom is going to release 1.5.6-RC5 to the experimental channel tod

[2017-12-11 10:46] OWillekens commented on #16
Hi Ted,
Thank you for your feedback on GitHub. My Homey is currently on 1.5.4.
I can not upgrade my Homey, because he can not find any experimental upgrade 1.5.6. Can you let me know how I can install this upgrade 1.5.6, so I can test to add more Zigbee (Xiaomi) sensors to my Homey?
It is strange that Athom people told me that there is no limit for adding sensors and there is no issue known, but i

[2017-12-11 15:23] TedTolboom commented on #16
Hi Olivier,

1.5.6-RC6 should be available again for downloading in experimental updates: see https://firmware.athom.com/  So you should be able to update and test if this solves the problem.

On the communication with Athom; I will forward this feedback to Bram, the community manager at Athom, also handling most of the support requests. I guess we both can be right but still not solve your issue.

[2017-12-11 19:32] MaximCrabbe opened #17 "Aqara Human Body Sensor timeout doesn t reset"
Disable motion alarm after: 5 (seconds). The text says: (when you go over the i in homey settings of the device)
"...Every time motion is observed by this device this timeout will reset.."
So I put it on 5 seconds, I start dancing in front off it and every 5 sec it will briefly jump off (the motion detection alarm) and turn back on. (So in the hallway the lights flash on and off realy quickly) How

[2017-12-11 20:46] OWillekens commented on #16
Hi Ted, unfortunately I can not install/download any new update from the https://firmware.athom.com/ website. What am I doing wrong? How can I download the proper update to install on my Homey?
Olivier

[2017-12-11 20:46] OWillekens commented on #16
Hi Ted, unfortunately I can not install/download any new update from the https://firmware.athom.com/ website. What am I doing wrong? How can I download the proper update to install on my Homey?
Olivier

[2017-12-11 22:11] OWillekens commented on #16
Hi Ted, I'm sorry, in Homey I could see now the update 1.5.6-RC6, so I have installed this update. Unfortunately, this upgrade brought no solution. Still "no zigbee devices" found. So no extra Xiaomi doorsensors could be installed. Olivier

[2017-12-12 20:46] OWillekens commented on #16
Hi Ted, I have received today and added successfully 1x Neo Coolcam PIR sensor to Homey (Z-Wave) without any problem. So Homey seems not be the problem, and adding extra Z-Wave sensors is successful. Adding an extra Xiaomi device/sensor (Zigbee) is NOT working. What is your advice?
Olivier

[2017-12-13 12:43] TedTolboom commented on #16
Hi Olivier,

To get a better understanding of you issue, can you share the screenshots of the Nodes tables for Zigbee and Z-wave of your Homey?
As shown on: https://developer.athom.com/tools/zigbee and https://developer.athom.com/tools/zwave

Together with a list of which devices (type and amount) you are still not able to include..

[2017-12-14 21:41] uNiiek opened #18 "[Feature Request] Sensitivity option in motion sensor"
Edit the sensitivity lumen of the device.

[2017-12-16 21:51] ljsvv opened #19 "Double Wireless Remote Switch (wall switch) sends out double events"
Noticed that my Double Wireless Remote Switch sends out some double events sometimes. Noticed that my Lights are switching on and off straight away.

Made an Homey flow if Button is pressed turn a light on or off.

[2017-12-16 22:00] TedTolboom commented on #18
@uNiiek In order to add this to the drivers parameters, the meshdriver would need to update the attribute reporting and send it to the device...

As far as I'm aware, the Zigbee meshdriver does not have an onOnline trigger for such command...
I'll check with the Athom team for confirmation.

[2017-12-16 22:12] TedTolboom commented on #19
@ljsvv I noticed a similar behavior when using the wireless switch at a longer distance from Homey, without a mesh network... this has been solved by adding a duplicate report time-out...

In a next update, I'll add a similar time-out to the Wireless Remote Switch.

[2017-12-25 19:29] OWillekens commented on #16
Hi Ted,

I was out of the office for almost 2 weeks, and I have found some time to take a screenshot of the NODES table for Zigbee of my Homey (see annex).
I was successful in adding 10 extra Z-Wave (10x Neo Coolcam doorcontacts) sensors 2 days ago (see I have NOT added a screenshot of the Z-Wave Nodes table), but still I can NOT add any Zigbee device after I was successful for several Xiaomi devi

[2017-12-27 07:51] StraDijk opened #20 "Aqara Wireless Remote Switch Single as Unknown device"
When i add the Aqara Wireless Remote Switch Single, it shows as unknown device.

![2017-12-27_08-48-02](https://user-images.githubusercontent.com/2519741/34374779-32c4e2e6-eae3-11e7-8ed4-0900a3807dcc.png)

[2017-12-27 08:54] TedTolboom commented on #20
@StraDijk if it is added as a generic ZigBee device, it is not (yet) supported by the app; no driver defined...

This can be caused by 2 things; either the device driver is not added yet (correct picture should not be visible on the app page at apps.athom.com) or the ID’s added are incomplete...

Considering the product ID, I think it is the first case..

To avoid confusion on different Ali or Gea

[2017-12-27 10:23] StraDijk commented on #20
@TedTolboom
This is the one.
https://xiaomi-mi.com/sockets-and-sensors/aqara-smart-light-wall-switch-zigbee-version-single-key/

[2017-12-27 12:24] TedTolboom commented on #20
That one is not supported yet...

I do have the double switch myself; so once I have this one (double switch) working, I’ll be able to add the single switch version based on your ID numbers..

[2017-12-28 21:35] shcizo opened #21 "Aqara temp sensor does not update"
I have paired a temp sensor that dont update its values. It says 18.8 C, 989 mbar, 45,9 % and then nothing happens. Is there a way to troubleshoot this or is it just broken?

[2017-12-29 18:47] shcizo commented on #21
I removed it and readded and it works.

[2017-12-29 22:08] woodiewales opened #22 "Homey Version 1.0.4"
Hello,

I tried to install the Xiaomi App, however it is telling me that it is not compatible with my version on Homey 1.0.4 . Will there be an update to make it compatible?

Many thanks
Rob

[2017-12-30 10:14] shcizo commented on #21
Would like to reopen this as the sensor stops updating after a short period of time.

[2018-01-05 21:54] TedTolboom commented on #22
@woodiewales the Xiaomi ZigBee app has a dependency to require Homey SW 1.5.4 minimum; because this version incorporates the required ZigBee changes to make the Xiaomi devices operational.

So it will not be able to create a version of the app for the 1.5.3 Homey SW version.
I would have expected that 1.5.4 (or a higher version) would have been released to Stable earlier, but that has not been don

[2018-01-05 21:54] #22 closed

[2018-01-05 21:55] TedTolboom commented on #21
@shcizo can you check if this is solved with 1.5.6-RC8 which has just been released to experimental?
You might need to wake the device by pressing the button

[2018-01-06 20:06] shcizo commented on #21
I think my issue had more to do with bad reception. i moved it closer to homey and now it updates as it should. i have an aqara door sensor that works fine at the same range though. Anyways, dont think this has anything to do with this app.

[2018-01-06 20:06] #21 closed

[2018-01-06 21:38] TedTolboom commented on #21
@shcizo there are reports that WiFi channel 11 can interfere with the ZigBee channels (partly overlapping frequencies)..

You might want to check the WiFi channel your router is using... perhaps this is influencing the range

[2018-01-13 12:11] JohanBendz opened #25 "Implement battery status reporting"
Does the battery operated devices support reporting battery status? If so, can this information be added to the app abilities?

[2018-01-14 11:24] TedTolboom commented on #20
@StraDijk support will be added in the next app update...
https://github.com/TedTolboom/com.xiaomi-mi-zigbee/commit/606189d421e5cc3c3017029555e9a11b269718f1

[2018-01-14 11:31] TedTolboom commented on #25
@JohanBendz yes, most of these devices report their battery status.... but not in the standard ZigBee reporting... but in it's lifeline reporting.

Example of the Cube:
[code]
I do need to find a way to extract the Battery value out of this reported string...
For all battery devices, the battery capabilities have been added, so that adding battery reporting will only be a app (driver) update and t

[2018-01-14 11:47] TedTolboom commented on #17
@MaximCrabbe the motion sensor will cancel the motion_alarm the defined time (in `Disable motion alarm after` parameter) after the **last** motion has been detected.

Below logging shows the example where 30 seconds (parameter in my case) after the motion detection:
[code]
So the motion timeout reset works as intended...

Can you clarify the issue?

[2018-01-14 15:37] TedTolboom opened #26 "Add support for Mijia Aqara Water Sensor"
Add support for:
https://xiaomi-mi.com/sockets-and-sensors/xiaomi-mijia-aqara-water-sensor/

**reference info:**
Xiaomi partnumber: SJCGQ11LM
"manufacturerName": "LUMI",
"productId": "lumi.sensor_wleak.aq1",
"deviceId": 1026,
"profileId": 260,

[2018-01-14 15:38] TedTolboom commented on #26
Waiting on Athom to implement ZigBee Intrusion Alarm Zones, leading issue:
https://github.com/athombv/homey/issues/2005

[2018-01-14 15:40] TedTolboom opened #27 "Add support for MiJia Honeywell Smoke Detector"
Add support for:
https://xiaomi-mi.com/sockets-and-sensors/xiaomi-mijia-honeywell-smoke-detector-white/

**reference info:**
Xiaomi partnumber: ?
"manufacturerName": "LUMI",
"productId": "lumi.sensor_smoke",
"deviceId": 1026,
"profileId": 260,

[2018-01-14 15:40] TedTolboom commented on #27
Waiting on Athom to implement ZigBee Intrusion Alarm Zones, leading issue:
athombv/homey#2005

[2018-01-14 15:42] TedTolboom opened #28 "Add support for MiJia Honeywell Gas Leak Detector"
Add support for:
https://xiaomi-mi.com/sockets-and-sensors/xiaomi-mijia-honeywell-gas-leak-detector-white/

**reference info:**
Xiaomi partnumber: ?
"manufacturerName": "LUMI",
"productId": "lumi.sensor_natgas",
"deviceId": 257,
"profileId": 260,

[2018-01-14 15:42] TedTolboom commented on #28
Waiting on Athom to implement ZigBee Intrusion Alarm Zones, leading issue:
athombv/homey#2005

[2018-01-14 15:57] TedTolboom opened #29 "Add (full) support for Xiaomi Mi Smart Home Cube"
Add support for:
https://xiaomi-mi.com/sockets-and-sensors/xiaomi-mi-smart-home-cube-white/

**reference info:**
Xiaomi partnumber: MFKZQ01LM
"manufacturerName": "LUMI",
"productId": ["lumi.sensor_cube"],
"deviceId": 24321,
"profileId": 260,

[2018-01-14 15:59] TedTolboom commented on #29
Rotational angle is reported together with movement-type.

Waiting on Athom to implement option to be able to capture attribute reports with double attribute values, leading issue:
https://github.com/athombv/homey/issues/2019

[2018-01-14 16:07] TedTolboom opened #30 "Add support for the Aqara Smart Curtain Controller"
Add support for:
https://xiaomi-mi.com/sockets-and-sensors/xiaomi-aqara-smart-curtain-controller-white/

**reference info:**
Xiaomi partnumber: ZNCLDJ11LM
"manufacturerName": "LUMI",
"productId": "lumi.curtain",
"deviceId": 514,
"profileId": 260,

[2018-01-14 21:27] TedTolboom commented on #19
@ljsvv as indicated on Slack, I'm not able to reproduce this issue myself.

Current option would be to add a timeout value, but this would potentially create additional issues with other users...

I will first check if filtering on sequence number will become available soon... this would enable the most clean solution. Formally filed a GH issue at Athom (https://github.com/athombv/homey/issues/215

[2018-01-14 21:30] ljsvv commented on #19
Thank you for your response.

We’ll patiently wait for Athom to implement the sequence number filtering option .

[2018-01-15 04:37] Maxwell70 commented on #19
Thanks for the add! But the switches do not work correctly. Sometimes turns off/on and sometimes not!

[2018-01-15 04:38] Maxwell70 commented on #19
Thanks for the adding Aqara Light Wall Switch Single/Double! But the switches do not work correctly. Sometimes turns off/on and sometimes not!

[2018-01-15 04:51] Maxwell70 commented on #19
Single switches all stopped working!

[2018-01-15 06:06] TedTolboom commented on #19
@maxwell70 thanks for the feedback, but please add this to a separate issue; adding more details on your issue (app version etc).

This issue is concerning the light wall switch sending a report and due to latency in the network ghosts reports arrive at Homey.

[2018-01-15 06:21] Maxwell70 commented on #19
@TedTolboom App 0.2.0, homey 1.5.4.-8.
Since last update double switches work better, but sometimes either there is no feedback from the physical enable/disable or I can't enable/disable on Homey.
Single switches were added well! They worked a few times, and then stopped working completely!

[2018-01-15 08:01] Maxwell70 opened #32 "Work Aqara Light Wall Switch Single/Double"
App 0.2.0, homey 1.5.4.-8.
Since last update double switches work better, but sometimes either there is no feedback from the physical enable/disable or I can't enable/disable on Homey.
Single switches were added well! Single switches worked a few times, and then stopped working completely!

[2018-01-15 08:49] TedTolboom commented on #32
@Maxwell70 trying to understand the issue.
You installed the master branch from GitHub after I announced the app update?
Or earlier / development branch?

In the last app update, no changes have been made to these devices (or the meshdriver included in the app):
https://github.com/TedTolboom/com.xiaomi-mi-zigbee/commits/master/drivers/sensor_86sw2Un/device.js

Since nothing changed, only the app u

[2018-01-15 09:07] Maxwell70 commented on #32
@TedTolboom I installed development 3 hours ago.
Today You added support single switch. And I tell you how single switch works.
The double switch did not work correctly until this update.
I haven't used flows yet.
I turn on/off the switches in Homey.

[2018-01-15 11:00] TedTolboom commented on #32
@Maxwell70 my mistake, still having the device of the other issue in mind...
Did you remove and re-install the devices after updating to 0.2.0?

Can you try running the app in debug mode (`athom project --run`), after enabling (removing the '//' in https://github.com/TedTolboom/com.xiaomi-mi-zigbee/blob/master/drivers/ctrl_neutral2/device.js#L11 and on https://github.com/TedTolboom/com.xiaomi-mi-z

[2018-01-15 11:05] Maxwell70 commented on #32
@TedTolboom  After the upgrade I did not delete the device.

[2018-01-15 11:07] Maxwell70 commented on #32
I've installed now the master

[2018-01-15 11:10] Maxwell70 commented on #32
"Can you try running the app in debug mode (athom project --run), after enabling (removing the '//' in https://github.com/TedTolboom/com.xiaomi-mi-zigbee/blob/master/drivers/ctrl_neutral2/device.js#L11 and on https://github.com/TedTolboom/com.xiaomi-mi-zigbee/blob/master/drivers/ctrl_neutral2/device.js#L13)?"
- I don't know how to start and what to do. Tell more!

[2018-01-15 11:12] Maxwell70 commented on #32
I added a Dual-switch long ago. And the single switches I added after the upgrade.

[2018-01-15 11:47] TedTolboom commented on #32
I would advise to remove the double-switch and re-include it.

You have downloaded the GitHub release and installed it via `Athom project --install`...

Download the master branch on Github.
Edit the `/drivers/ctrl_neutral2/device.js` file and remove the `//` to enable debug logging in line 11 and 13, save the file.
Do the same for `/drivers/ctrl_neutral1/device.js`.
Now run the app in debug mode,

[2018-01-15 12:04] Maxwell70 commented on #32
@TedTolboom I did the right thing?
[1.txt](https://github.com/TedTolboom/com.xiaomi-mi-zigbee/files/1631534/1.txt)

[2018-01-15 12:36] Maxwell70 commented on #32
Now the switches don't respond to clicks in Homey or reaction is applied in about a minute.

[2018-01-15 13:03] Maxwell70 commented on #32
After reinstalling all the switches stopped working! The curtains ceased to be supported! :(((((

[2018-01-17 20:28] TedTolboom commented on #25
Leading Athom issue: https://github.com/athombv/homey/issues/2165

[2018-01-19 11:22] TedTolboom commented on #32
@Maxwell70 missed your response.
I don't think it went ok... I do see an error in the log, `SyntaxError: Unexpected identifier\`

In parallel, I delayed the release of 0.2.0 to be able to check the double switch myself...
Removed the switch and re-added it based on the 0.2.0 release and it responds to changes triggered by Homey and v.v.

Can you re-test based on the app store release?

Please incl

[2018-01-19 11:27] Maxwell70 commented on #32
Homey SW version - 1.5.4.-8
App version - 0.2.0 from AppStore
I was paired switches to the last update and tried it after the update.
The result of the work does not depend on the distance. I have the switches nearby to the Homey and far.

[2018-01-19 11:32] Maxwell70 commented on #32
Add the ZigBee nodes table as shown on https://developer.athom.com/tools/zigbee
I do it

[2018-01-19 11:34] Maxwell70 commented on #32
<img width="676" alt="2018-01-19 18 33 12" src="https://user-images.githubusercontent.com/33258356/35149069-58f1b504-fd47-11e7-809b-34bf43859ab2.png">

[2018-01-19 12:23] Maxwell70 commented on #32
Please help me in solving this problem!

[2018-01-21 21:35] TedTolboom commented on #32
@Maxwell70 So the devices were already included before v0.2.0 was released?

Can you try to remove the switches from Homey and re-include the switches based on the v0.2.0 release? With the update to v0.2.0 the driver capabilities changed significantly; so that could explain the issue.

Tested the switch throughout the weekend here, but it is working ok. Same was confirmed by @addwindtan who propos

[2018-01-22 00:01] Maxwell70 commented on #32
I deleted all Zigbee devices. Reset network Zigbee. Then paired Homey with four switches (2 - single, 2 - double). First the switches are working fine, then do it incorrectly. Then do not work.
For all time of testing there was no case to all 4 switch was connected to Homey!
Photo After pairing:
<img width="655" alt="2018-01-22 6 59 38" src="https://user-images.githubusercontent.com/33258356/35200

[2018-01-22 02:03] addwindtan commented on #32
@Maxwell70 After you pair the single and the double switch, could you go to the settings page of the devices and capture the node information for us? I want to rule out that it could be a different model of the Xiaomi switch.

[2018-01-22 04:08] Maxwell70 commented on #32
@addwindtan
<img width="378" alt="2018-01-22 11 06 45" src="https://user-images.githubusercontent.com/33258356/35204992-9021691a-ff64-11e7-96fe-3cf54d9fd2e8.png">
<img width="342" alt="2018-01-22 11 07 04" src="https://user-images.githubusercontent.com/33258356/35204993-9048fa66-ff64-11e7-82d3-77eec5d7456a.png">
<img width="337" alt="2018-01-22 11 07 23" src="https://user-images.githubusercontent.

[2018-01-22 14:27] Maxwell70 commented on #32
@addwindtan Is there a problem?
@TedTolboom You can help solve my problem?

[2018-01-22 20:15] StraDijk commented on #20
Thank you!

[2018-01-23 01:18] addwindtan commented on #32
@Maxwell70 The node info is in order. I want to reproduce the problem on my end so that I can identify the problem. Could you confirm the steps below:

1. Paired Aqara double switch with Homey
2. Check the node map -> Aqara does not appear in node map

At first the switches work fine:
3. Press switch one and switch two on Aqara. The UI on Homey reflects the state correctly.
4. Toggle switch one an

[2018-01-23 04:52] Maxwell70 commented on #32
@addwindtan
Paired double switch with Homey.
<img width="650" alt="2018-01-23 11 39 54" src="https://user-images.githubusercontent.com/33258356/35258449-2d0ffc78-0032-11e8-8c1b-f3fd0790600e.png">
Press switch one and switch two on Aqara. The UI on Homey reflects the state correctly.
Toggle switch one and switch two on the UI. The lights wired to switch one and switch two turns on/off correctly.
Wa

[2018-01-23 05:06] addwindtan commented on #32
@Maxwell70 What you mentioned is the correct behaviour. How do you produce the issue?

[2018-01-23 05:10] Maxwell70 commented on #32
@addwindtan
Paired single switch with Homey.
<img width="640" alt="2018-01-23 11 55 19" src="https://user-images.githubusercontent.com/33258356/35258784-53b28f10-0034-11e8-9ef7-cef1aa8775f1.png">
Press switch one and switch two on Aqara Double. The UI on Homey reflects the state correctly.
Toggle switch one and switch two on the UI. The lights wired to switch one and switch two turns on/off correc

[2018-01-23 05:14] Maxwell70 commented on #32
@addwindtan "What you mentioned is the correct behaviour. How do you produce the issue?"
I don't understand your question!

[2018-01-23 05:23] addwindtan commented on #32
@Maxwell70
1. In order for me to find the solution, first I need to be able to re-create the problem in my lab.
2. What I require are the specific steps that led to you facing the problem
3. I will then try to follow the exact same steps that you did and see if I face the same problem over here in my lab.
4. Once I have the problem, I can step through the codes to find out what caused it.
5. Once

[2018-01-23 05:34] Maxwell70 commented on #32
@addwindtan
Paired double switch with Homey.
<img width="610" alt="2018-01-23 12 18 54" src="https://user-images.githubusercontent.com/33258356/35259354-ec5e942c-0037-11e8-999f-41d08d828cb8.png">
<img width="930" alt="2018-01-23 12 19 04" src="https://user-images.githubusercontent.com/33258356/35259357-f52fe2b8-0037-11e8-98b8-be043a2181a8.png">
Press switch one and switch two on Aqara Double. The

[2018-01-23 05:53] Maxwell70 commented on #32
@addwindtan
Paired single switch with Homey.
<img width="635" alt="2018-01-23 12 39 20" src="https://user-images.githubusercontent.com/33258356/35259833-9da5e65c-003a-11e8-8f42-98ef86305161.png">
<img width="931" alt="2018-01-23 12 39 32" src="https://user-images.githubusercontent.com/33258356/35259834-9dcb07ac-003a-11e8-8587-5585cde830d9.png">
Press switch one and switch two on Aqara Double. The

[2018-01-23 05:57] Maxwell70 commented on #32
@addwindtan Question: why two switches always have no connection with Homey in node map?

[2018-01-23 12:41] Maxwell70 commented on #32
@addwindtan Added two more double-switch.
<img width="628" alt="2018-01-23 19 35 07" src="https://user-images.githubusercontent.com/33258356/35276082-b699f902-0074-11e8-998d-d5880c7d0e7d.png">
All the switches work correctly.
Sometimes after long time not turns on/off on UI of Homey Toggle switch on the UI - the lights wired to switch turns on/off not correctly.

[2018-01-23 13:57] addwindtan commented on #32
@Maxwell70 Do you mean if you turn on via the UI, it actually turns off the switch?

[2018-01-23 14:01] Maxwell70 commented on #32
@addwindtan Yes or no will work

[2018-01-23 14:03] addwindtan commented on #32
@Maxwell70 Sorry, i don't understand what you mean by "Yes or no will work"

[2018-01-23 14:08] Maxwell70 commented on #32
@addwindtan if I turn on via the UI, it actually turns off the switch
or if I turn on via the UI, it actually the switch does nothing

[2018-01-23 14:31] addwindtan commented on #32
@TedTolboom I did notice this problem when I first started working on the Xiaomi App. The status of the UI and the switch is not always in sync. Furthermore, when we send a command, we check the status on the UI (not on the switch), invert its status and send the zigbee command.

In Z-Wave, we would normally wait for an acknowledgement packet after every command to confirm it's been received and w

[2018-01-23 14:42] Maxwell70 commented on #32
@addwindtan "The status of the UI and the switch is not always in sync." - I agree.
But sometimes the commands from the user interface are not enforced on the switch!

[2018-01-24 10:38] TedTolboom commented on #32
@addwindtan you’re right, the Xiaomi switch does not report its state, but provides a trigger...
the Homey state is toggled in the driver...

If the device and Homey state differ, which might be caused by some latency in the network, then this might be interpreted as not functioning...

I would need to look into the reporting of the device with a Zigbee sniffer, to see if on another endpoint the d

[2018-01-24 11:24] Maxwell70 commented on #32
@TedTolboom @addwindtan Now I can't pair the seventh switch (double) .... Tried for about 20 times. Is this possible?

[2018-01-24 13:35] EDVDVD opened #34 "Aquara Human Body Sensor not active after being triggered"
The sensor does not respond to movement for some time after the motion alarm has been triggered.
I for example have the disable motion alarm on 30 seconds, then for around 5 to 10 seconds the sensor motion does not trigger again.
So it has a period of time it does not register any motion, I have this on 2 Aquara Human Body Sensors.
I use it with the countdown app, but sometimes becouse it does not

[2018-01-24 13:43] addwindtan commented on #32
@Maxwell70 It is unlikely to be the Xiaomi App issue. Perhaps you can check with guys at Athom if there's some sort of a limit.

[2018-01-24 14:57] cbho commented on #34
Hi,
There's a limit of 60 sec, unfortunately...
https://forum.athom.com/discussion/4373/how-to-count-people-going-up-down-stairs

[2018-01-25 00:47] Maxwell70 commented on #32
@TedTolboom Checked. There is no limit.
Problem: New double switch from the box pair with MiHub - ok. After 15 minutes, I want to pair with Homey - not pair! I tried 30 times - not pair! Then I want to pair with MiHub - not pair. Now I can not pair switch with Homey and MiHub. What is the reason?

[2018-01-27 00:12] chinswain opened #36 "Unable to add cube"
Just tried adding the cube, add device wizard reports no device found, debug from cli install\run:

`2018-01-27 00:10:24 [err] [ManagerDrivers] [sensor_magnet.aq2] [0] registerAttrReportListener() -> error could not configure attrReport_0_genOnOff_onOff { Error: forced_timeout
    at Object.<anonymous> (/opt/homey-client/system/manager/ManagerApps/jsonfns.js:1:1245)
    at JSON.parse (<anonymous>)

[2018-01-29 14:09] jnwllm opened #37 "Support multiple clicks + hold/release for Aqara Wireless Remote Switch Single / Double"
Apparently it should be possible (@TedTolboom ) to support more than on/off for the Aqara Wireless Remote Switches by implementing this driver-side. I would really appreciate this feature to control multiple scenes and dimming of my Fibaro powered RGBW LED strip on the attic.

[2018-01-30 09:40] brtwrs commented on #17
Hi, Im also experiencing this. Some of my sensors are working perfect, but others don't reset the timer and the alarm turns off and on again after the giving seconds. Even if I keep moving around in front of the sensor

[2018-01-30 20:55] HRFST commented on #17
Hi, I find something. I have 2 brand new 'Aqara Human body sensor'  connect with homey,
The sensor timer does reset after 60 seconds. But not during the first 60 seconds!

So when timer is 80 seconds.
After 60 seconds it can be reset and will run 80 seconds again.

Do you know if the 60 seconds wait before motion is detected is a hardware limitation from the sensor or is it in your software?

My p

[2018-01-30 21:01] cbho commented on #17
Already described here: https://github.com/TedTolboom/com.xiaomi-mi-zigbee/issues/34

[2018-01-30 21:29] HRFST commented on #17
@cbho so the 60sec blind time is in the hardware of the Aqara sensor?

[2018-01-30 22:25] cbho commented on #17
Unfortunately, yes...

[2018-02-05 20:28] dkduck opened #38 "Aqara Wireless Switch"
Just bought Xiaomi Aqara Wireless Switch and connected to the Homey.
It then adds as an unknown device, with a standard Zigbee icon

**Problem:**
Added as an unknown device

**Link to device:**
https://www.aliexpress.com/item/2017-Xiaomi-Aqara-Multifunctional-Smart-Wireless-Switch-Intelligent-Mihome-APP-control-wireless-key-for-iPhone-Xiaomi/32816836631.html?spm=a2g0s.9042311.0.0.SVOluK

**Screens

[2018-02-05 23:30] TedTolboom commented on #38
Hi Erik,

Indeed Product ID's are different to the ones currently supported...
I will need to add this product ID in a next update (will be after this week)...

Would you be able to test a separate version (install via Command Line); because it could be that the version difference also points to a different firmware version (and behavior)....

[2018-02-06 00:03] chinswain commented on #38
@TedTolboom I have one of these arriving shortly, I'll report back if it doesn't work.

[2018-02-06 10:47] dkduck commented on #38
Hi Ted

Just let me know when, I’ll try to help you as good I can.

[2018-02-06 10:52] dkduck commented on #38
Btw Ted, first time I did a Github issue, is it ok written?

[2018-02-09 01:29] Maxwell70 commented on #32
@TedTolboom Hi! Om r.11 Removal / addition fixed?

[2018-02-10 09:17] moekdegroot commented on #38
He Ted, I too just received some wireless single switches and I think they also have a different product ID. They are added and recognized but only a single click is working.
You want me to create a separate issue for these ID's or is this post sufficiënt?
Best, Moek
![aqara](https://user-images.githubusercontent.com/16590284/36060520-6cb29fd0-0e4b-11e8-8e13-d6a12b12590d.png)

[2018-02-10 09:25] moekdegroot commented on #37
Hi Ted,
Thanks for the app, truly awesome!
Just wanted to create an issue that 2,3,4 clicks isn't working for my aqara wireless single switch although it's available in the flow editor.
I'm a little confused, did you implement it already and it just isn't working?
If that's the case, you need help testing?
And just to check, we are talking about [these switches](https://xiaomi-mi.com/sockets-and-s

[2018-02-11 06:01] Maxwell70 opened #39 "Work on r.11"
After updating to r.11 it is impossible to add devices to the Homey!

[2018-02-11 14:41] chinswain commented on #36
Issue resolved - cube requires multiple button presses to keep it alive (same as the older devices)

[2018-02-11 14:41] #36 closed

[2018-02-12 08:52] jwikman opened #40 "Enhancement request: Add a "Last signal received" attribute"
I don't know if this is techically possible, but it would be great to know when Homey last received a signal from a device.
It should be shown in the "Device information" section on the device settings page.
It should also be a tag on the device that could be read in a flow.

In that way I could create flows that checks the health of my devices.
One additional feature would be a trigger on "Last s

[2018-02-15 06:30] TedTolboom commented on #20
@StraDijk would you be able to test a GitHub version (install via command line)?
I'd like to add these ID's to the existing driver, first test before releasing it to the app store

[2018-02-15 06:36] TedTolboom commented on #16
Hi Olivier,

See the response Athom provided in the by @captkiwi referenced issue:
https://github.com/athombv/homey/issues/2160

Homey currently uses a limitation of 20 end-devices (battery powered sensors) if no additional routers (mains powered ZigBee devices like light bulbs or sockets) are connected.

"adding routers to a zigbee network will increase the maximum number of connectable end devic

[2018-02-15 06:36] #16 closed

[2018-02-15 06:40] TedTolboom commented on #17
As also commented in the forum: https://forum.athom.com/discussion/comment/67188/#Comment_67188

I also recently learned that the sensors have 2 different modes:
Normal and test mode, as described in the FAQ of Gearbest:

This does explain why the sensors work with 5 second interval directly (first 2 hours) after inclusion and when the button has been pressed... and fall back to the 1 minute inter

[2018-02-15 06:40] #17 closed

[2018-02-15 06:47] TedTolboom commented on #36
Thanks for reporting; updated the hints for the Cube accordingly

[2018-02-15 06:54] TedTolboom commented on #34
As also commented in the forum: https://forum.athom.com/discussion/comment/67188/#Comment_67188

I also recently learned that the sensors have 2 different modes:
Normal and test mode, as described in the FAQ of Gearbest:
![image](https://user-images.githubusercontent.com/17163431/36244144-5a9fb408-1225-11e8-8db1-bbd6368cfd86.png)

This does explain why the sensors work with 5 second interval direc

[2018-02-15 06:54] #34 closed

[2018-02-15 06:55] TedTolboom commented on #39
@Maxwell70 can you update Homey's SW to 1.5.6 (currently in experimental), perform a reboot and verify if this resolves the issue

[2018-02-15 07:06] TedTolboom commented on #38
@dkduck yes, would love if every first time GitHub issue is structured like this...
Just checking... the original ID is `lumi.sensor_switch.aq2` and the ID you reported is `lumi.sensor_swit`...

Which doesn't make sense. As far as I can see, Xiaomi would not shorten the name (`switch` to `swit`) and only add an attribute like `.aq2`...

I think something might gone wrong during the inclusion of th

[2018-02-15 07:30] Maxwell70 commented on #39
@TedTolboom
I set 1.5.6. It didn't solve the problems! When you add a new device, the result is: "Device not found" or "requires device reset" or the label "Device added" appears, followed by "Device not found".

[2018-02-15 08:10] TedTolboom commented on #39
How many battery powered (end-point) and non-battery powered (router) Zigbee devices do you now have included?

[2018-02-15 08:26] StraDijk commented on #20
No problem. Will test it when i get home.

[2018-02-15 08:26] Maxwell70 commented on #39
@TedTolboom
Currently added (added before new year):
![2](https://user-images.githubusercontent.com/33258356/36246921-82142778-1264-11e8-8d6f-18c462d8ca81.PNG)
![3](https://user-images.githubusercontent.com/33258356/36246934-8b158d1c-1264-11e8-97fe-24e210b3586d.PNG)

[2018-02-15 15:52] dkduck commented on #38
@TedTolboom  - Tried from 10 cm distance and same result, see picture

![unknownzigbee](https://user-images.githubusercontent.com/36172135/36265878-77c1947a-1270-11e8-846c-2868c19b0d7e.JPG)

[2018-02-17 10:02] moekdegroot commented on #37
Hi @TedTolboom ,

Can I bother you for an answer to my question above?
As I said above I installed an aqara single wireless switches and have the option to select 1, 2 ,3 and 4 clicks in the flow editor but only 1 click is working.
Because the app description in the app store only mentions 1 click (and combined click) I’m not really sure what to do next.
Did you implement the 1-4 clicks as the OP

[2018-02-20 12:58] JohanBendz commented on #25
Hi there Ted, noticed a solution to reading out the battery value in a SmartThings GitHub thread, perhaps this can help you out? https://github.com/bspranger/Xiaomi/blob/master/devicetypes/bspranger/xiaomi-aqara-button.src/xiaomi-aqara-button.groovy

[2018-02-28 08:34] rickardp commented on #25
What do we need from Athom? AFAIK, I already parsed that struct (see the now closed PR here https://github.com/TedTolboom/com.xiaomi-mi-zigbee/pull/11/commits/6fae2aa170bcd3d39ad12b5a899b5b6ab11243f0)

I experimented with reading battery values back then, but I never took the time to figure out the unit (from @JohanBendz  comment I now know though...)

Maybe I am missing something, or why do we ne

[2018-03-01 08:20] TedTolboom commented on #25
@rickardp good point; well taken...
In the past I removed this reportListener, since the issue with the  primary reportListener was solved and providing more data points...

Based on your feedback I've been experimenting with this approach on the Cube and Aqara temperature and Humidity sensor.... with a green (filled) box in the top left corner...
![image](https://user-images.githubusercontent.com

[2018-03-01 11:56] LyoshaDovolen opened #42 "New Aqara Wireless switch WXKG12LM with gyroscope?"
Aqara Wireless switch WXKG12LM with gyroscope? New model button (is defined as lumi.sensor_switch.aq3) with signal "shake"

https://github.com/bspranger/Xiaomi/issues/106#issuecomment-369412141

[2018-03-01 12:05] LyoshaDovolen commented on #42
https://github.com/bspranger/Xiaomi/issues/106#issuecomment-369412141

[2018-03-04 19:45] MagnusPer commented on #40
Would be great to have this "status" information together with the temperature value. This Because there might be several hours the value was updated. Before when used Telldus plattform this information was available (see [this](http://nytestat.se/telldus-v2-gor-433-mhz-dubbelt-sa-anvandbart/) example)

[2018-03-04 19:54] MagnusPer opened #43 "Enhancement Request: Calibration value for sensors"
My [Aqara](https://xiaomi-mi.com/sockets-and-sensors/aqara-temperature-and-humidity-sensor/) temperature sensors are not that accurate. Would be nice to be able to add an calibration value +/- (example -2.8 degree)

As referense the [Wireless Weather Station](https://apps.athom.com/app/com.weather-sensors) has this feature!

[2018-03-04 20:10] TedTolboom commented on #25
Well, @rickardp after quite some time debugging this weekend... I'd like to come back to your questions:

Yes, we do get the data in the value field in the device driver and converting it to a byte buffer seems to work... at first sight...

But not all data, and in particular the battery values, are giving valid data..
It turns out that the value string, as provided to the device driver has been U

[2018-03-05 11:38] chinswain commented on #26
Mine arrived today so will test when Athom sort out #2005

[2018-03-05 15:14] Radiotechniman opened #44 "[Req] New Flow card : Open or Closed"
My request is to include a "Open OR Closed" flow card
This would allow us to use the "Else" part of a flow cutting down the needed flows by 50%
e.g;
IF "Door Open" THEN   "Send Notification "Door Open""
IF "Door Closed" THEN  "Send Notification "Door Closed""

Would become:
IF "Door Open or Closed" AND Door Open THEN  Send Notification "Door Open" ELSE Send Notification "Door Closed"

I had put th

[2018-03-05 16:04] TedTolboom commented on #44
@Radiotechniman fully support the feedback of @m-ruiter in https://github.com/mruiter/com.neo/issues/48 ...

It doesn't make sense to build this standard functionality separately in several apps.
I would advice to create an issue at https://github.com/athombv/homey/issues

[2018-03-05 16:04] #44 closed

[2018-03-05 16:07] Radiotechniman commented on #44
Yes, i agree and have already created a ticket
https://github.com/athombv/homey/issues/2296

thanks for the support

‌
<https://mailtrack.io/> Sent with Mailtrack
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality&>

2018-03-05 17:04 GMT+01:00 dT <notifications@github.com>:

[2018-03-05 20:48] TedTolboom commented on #37
Hi @jnwllm, thanks for informing that the trigger card of the Single version is showing incorrect (unsupported) options. In the next update, I'll remove these unsupported options first...

I'll keep this issue option, as feature request to extend support to multiple clicks.
Please note, that hold and release will not be possible on this device. Since holding the button, will trigger the reset / in

[2018-03-05 21:00] TedTolboom commented on #40
@jwikman @MagnusPer thanks for the feedback.
I understand the request, but as app developer I'm not able to add information in the "Device information" section. In addition, I'm think the new Homey app will have this option enabled for all devices... it currently shows in the device details: "Turned on since 13:37"...

So, I'll check with Athom whether this indeed will be implemented by default in

[2018-03-05 21:08] TedTolboom commented on #42
Hi @LyoshaDovolen,

Thanks for reporting... if a new Xiaomi device will be added to the ZigBee range, I will add it to the app.

I will need to get my hands on one of these devices in order to define the device driver. Likely it will be a combination of the current Aqara Wireless Switch and the gyroscope function of the Cube...

Only problem is that I can't seem to find a store that is clearly ind

[2018-03-05 21:09] TedTolboom commented on #43
Hi @MagnusPer yes this should be possible to add...
I'll add it in one of the next updates.

[2018-03-06 07:24] jwikman commented on #40
@TedTolboom agreed, it would be better if Athom makes a generic implementation of this.
This information is superior to the "device hasn't reported"-flow (using that since a few weeks back), since you can quickly see on the sensor if you can rely on the values shown. As today those values can be real old without you knowing that...

[2018-03-06 08:31] jnwllm commented on #37
Haha, I was not aware that the release made it look like it was possible. I was hoping that you would make it possible instead ;-) But I understand that that's the reason why you keep this issue open. I'd love to hear if more people are interested in this feature and if it's going to be developed any day.

[2018-03-06 15:48] chinswain opened #46 "Stuck in crash loop"
I just noticed none of my devices are working, looks like a crash loop?

`Stack trace: (node:1346) MaxListenersExceededWarning: Possible EventEmitter memory leak detected. 11 __appInit listeners added. Use emitter.setMaxListeners() to increase limit /drivers/sensor_86sw1lu/device.js:23 .then(() => { ^ TypeError: this.onOnOffListener.bind(...).then is not a function at AqaraLightSwitchSingle.onMesh

[2018-03-06 17:04] chinswain commented on #46
Here's the log when running from cli:

`(node:14067) MaxListenersExceededWarning: Possible EventEmitter memory leak detected. 11 __appInit listeners added. Use emitter.setMaxListeners() to increase limit
2018-03-06 16:59:35 [log] [XiaomiZigbee] Xiaomi Zigbee app is running...
2018-03-06 16:59:35 [log] [ManagerDrivers] [cube] [0] ZigBeeDevice has been inited
2018-03-06 16:59:36 [log] [ManagerDriver

[2018-03-06 17:16] SadhuRus commented on #46
A have this problem too

[2018-03-06 17:18] chinswain commented on #46
Do you have Aqara Light Switch Single? I've removed this and it's working. If you try and add it back it breaks again.

[2018-03-06 17:27] TedTolboom commented on #46
Thanks for the logging!

Ok... I see the (copy-paste) error I made... apologies for that.
Seems to be limited to the Aqara Light Switch Single. Will check other devices as well

Will update the code this evening and push the update to the App Store later this evening.

[2018-03-06 17:29] chinswain commented on #46
@TedTolboom I'll test as soon as it's up here - The house is in darkness! :)

[2018-03-06 18:06] TedTolboom commented on #46
Well I don't want to leave you in the dark... worked on the fix first....

Can you test if this update (development branch) solved the issue:
https://github.com/TedTolboom/com.xiaomi-mi-zigbee/tree/development

Thanks!

[2018-03-06 18:26] chinswain commented on #46
@TedTolboom  Fixed! Although only 1x click scene is showing in the Scene has been activated card?

[2018-03-06 20:34] TedTolboom commented on #46
Thanks for the feedback.
On the 1x click, well... the changelog says it all:

Still on the featurelist though to implement the additional options

[2018-03-06 22:10] LyoshaDovolen commented on #42
That's all I could find:
http://allegro.pl/aqara-mini-przelacznik-bezprzewodowy-naklejka-mg-i7186033766.html
http://mall.iqiyi.com/item/19rrnomm40?odfrm=so
http://item.jd.com/5273039.html

[2018-03-06 22:29] LyoshaDovolen commented on #30
really need this

[2018-03-07 12:36] Buka20 commented on #30
+1

[2018-03-07 12:39] Maxwell70 commented on #30
+1

[2018-03-07 12:42] permadm commented on #30
+1

[2018-03-07 12:43] StasKorecky commented on #30
+1

[2018-03-07 12:44] onaggm commented on #30
+1

[2018-03-07 12:47] corsaroff commented on #30
+1

[2018-03-07 13:22] Sapadi commented on #30
+1

[2018-03-07 13:33] bumer0 commented on #30
+1

[2018-03-07 14:26] sprut666666 commented on #30
+1

[2018-03-07 15:57] KVolkov87 commented on #30
+1

[2018-03-08 22:33] #46 closed

[2018-03-08 22:34] TedTolboom commented on #38
@dkduck can you let me know if the issue has been solved with v0.2.4 as is now available in the app store?

[2018-03-08 22:36] TedTolboom commented on #29
Rotation angle available. Battery tracking via other issue...
will close this one

[2018-03-08 22:36] #29 closed

[2018-03-08 22:37] TedTolboom commented on #20
@StraDijk can you let me know if the issue has been resolved with v0.2.4 as available in the app store?

[2018-03-09 10:30] mauritsivs opened #48 "Add support for xiaomi Gateway, for network-extension purpose"
since the gateway has no function anymore now that homey has taken over, it would be nice to use the zigbee connection of the gateway to be able to extend the zigbee signal.
and possibly also use the light, speaker and luminance sensor on the gateway?

[2018-03-09 11:23] mauritsivs opened #49 "Only first button reacts to general voice commands - aqara double wall switch"
**Metadata**

* **Homey Version**: 1.5.7
* **Homey Log Code**: 1D2AF37386

**If related to a Homey App:** xiaomi mi zigbee
* **Homey App Version**: 0.2.3
* **Homey App Log Code**: 15e826ff-be41-4c9b-ad7c-20887d542751
* **Affected Devices (preferably product codes)**:
![screenshot 2018-03-07 09 04 44](https://user-images.githubusercontent.com/9398318/37080483-b1a4e6bc-21e6-11e8-911f-81745f7a5540.pn

[2018-03-09 19:35] dkduck commented on #38
@TedTolboom, works great with inclusion, but when making simple flow to turn on a single lamp nothing happens

[2018-03-09 23:07] synegic opened #50 ""1x click" scene triggers for switches on 0.2.4 are broken"
Hello,

All my switches' scene flows are triggered by the "1x clicked" flow card. This was done with the hope that in the future multi-click would become possible and therefor not having to change everything from "A button has been pressed" to "x times clicked". However, since the latest update (v0.2.4 at time of writing) all these flows using the "1x clicked" trigger do not work anymore. If I cha

[2018-03-10 08:29] TedTolboom commented on #50
@synegic eventhough not mentioned it explictly, I expect that the device in question is the Aqara Wireless Remote Switch Single. Correct?

[2018-03-10 18:01] StraDijk commented on #20
Yes, the issue is resolved. Thank you!

[2018-03-11 11:38] synegic commented on #50
That is correct. I actually have both single and double switches in use, the single ones have the above issue. The double ones work fine with the 1x clicked trigger (as in; left side; 1x clicked works for example), but the 'both clicked' trigger does not work there either.

[2018-03-11 21:32] meyland commented on #30
+1

[2018-03-12 22:19] TedTolboom commented on #20
OK, thanks for the feedback. Closing issue, please re-open if something is still incorrect.

[2018-03-12 22:19] #20 closed

[2018-03-12 22:21] TedTolboom commented on #38
@dkduck are you able to run the app in debug mode via the Command Line, so that the received data can be shown?

[2018-03-12 22:31] TedTolboom commented on #49
Hi @mauritsivs,
thanks for the well documented issue..

This is a current limitation(s) within Homey...

1. The lack of a multichannel option for Zigbee does not allow a second (virtual) device with the onoff capability.
2. Within one device, it is not possible to use two times the same capability, so I had to re-use the onoff capability for the right switch

Apperantly, re-using a default capabil

[2018-03-12 22:41] TedTolboom commented on #48
@mauritsivs see my response on the forum: https://forum.athom.com/discussion/comment/69059/#Comment_69059

[2018-03-13 10:42] #48 closed

[2018-03-13 10:54] dkduck commented on #38
@TedTolboom  Sure, if you tell me how to do :-)

[2018-03-15 12:39] magtimmermans opened #51 "Aqara Temperature and Humidity Sensor stops updating after a few days"
Hi,
I have one Aqara Temperature and Humidity Sensor and after a few days it stops updating the values. I have disconnected it again and attached it again to the zigbee network but after a few days the same happens again. I have version 0.2.4 and Homey Firmware Version: 1.5.8.

PS. Other devices Aqara Window/Door Sensor and Aqara Wireless Remote Switch Double are working great!

Could this be a de

[2018-03-15 15:39] TedTolboom commented on #51
Hi @magtimmermans,

I've heard more reports on (Xiaomi) Zigbee devices that stop reporting...
But it is quite difficult to pinpoint where the issue is originating from... Just checked my 2 sensors, and both are reporting continously...

Can you provide some more information:
- At what distance is the sensor located from Homey?
- Is the sensor in direct communication with Homey or communicating thr

[2018-03-15 18:19] TedTolboom commented on #30
Dear all,

See my call for community support on the Homey community forum: https://forum.athom.com/discussion/comment/69566/#Comment_69566

[2018-03-15 19:31] magtimmermans commented on #51
Sure.

1) The distance is 5 meter but a concrete wall between it.
2) Direct to Homey
3)
![2018-03-15 20_27_31-athom developer](https://user-images.githubusercontent.com/17949840/37486738-abf415f8-288f-11e8-82d8-c5b3f3d21e57.png)

4) Doesn't change. Even if I bring it close to Homey, it does not change.

[2018-03-17 18:26] etretti opened #52 "Aqara double switch wireless"
Stopped working in latest release and i cant re pair Them either.

[2018-03-18 17:57] robertklep commented on #40
As an intermediate solution, would it be possible to add a "Last Seen" item to the device's mobile card? Similar to what MySensors shows:

<img width="330" alt="screen shot 2018-03-18 at 18 51 44" src="https://user-images.githubusercontent.com/1190916/37569076-9c44bd38-2add-11e8-902a-e541debe4f0a.png">

[2018-03-21 19:37] StraDijk opened #53 "[Request] Flowcard "Motion alarm has changed""
Would like to have a flowcard with "The motion alarm has changed".

It would reduce the amount of flows i use for turning lights on/off.

[2018-03-21 21:35] TedTolboom commented on #53
Hi @StraDijk,

I completely understand the request, which is similar to another request from to have a flowcard for open / close: https://github.com/TedTolboom/com.xiaomi-mi-zigbee/issues/44...

For the Xiaomi app, I use as much as possible the default available flow cards; which are linked to a capability and made available by Athom in Homey's core (to secure the same look and feel)..

As also ex

[2018-03-21 21:35] #53 closed

[2018-03-22 08:07] canedje opened #54 "Aqara Window/door switch (New one) not activating flows"
Homey flows do not pick up the changing contact status.
At the devices you see contact open or closed and changing
The flow is not reacting and picking up the change

It worked fine before

[2018-03-22 18:45] canedje commented on #54
I did a PtP to Homey.
Now everything is fine again

[2018-03-22 19:09] StraDijk commented on #53
Yup, that is the same thing.. Thanks

[2018-03-25 18:18] ljsvv commented on #51
I can confirm the exact same issue. Only have it with one and the same Aqara Human Body sensor. Bringing the device close to Homey doesn’t work. Only a re-add Works for a couple a of days and then the same problem comes back.

[2018-03-26 13:40] dkduck commented on #38
@TedTolboom  You can close this, it´s included as it should be, so nice job :-)
But, the switch is defect...

[2018-03-26 14:27] #38 closed

[2018-03-28 04:59] TedTolboom commented on #38
@dkduck lol... Just figured out that you do have a special version of the Aqara Wireless switch...

namely the Aqara Wireless Switch with gyro sensor...
https://github.com/TedTolboom/com.xiaomi-mi-zigbee/issues/42

It’s name is lumi.sensor_switch.aq3 but the device identifier is set as lumi.sensor_swit...

You might experience that it will not trigger on 3x and 4x click.. but it will trigger on a

[2018-03-28 05:00] TedTolboom commented on #42
Received the new Aqara Wireless Switch with Gyro...
Will add support in the next update

[2018-03-28 08:36] dkduck commented on #38
@TedTolboom lol - that explains a lot :-)
Looking forward to next update according to #42

Just still dosen´t explain why 1 or 2 click still not working, but maybe in the update, thanks and keep up the brilliant work you do :-)

[2018-03-28 08:57] TedTolboom commented on #38
It maken perfect sense...
Because, now I have the device,I discover that this version sends a different attribute report... which I didn’t capture with the old version...

That’s the reason why I need to have access to the devices myself.. only option to learn this is by using a Zigbee sniffer and Wireshark...
Homey’s logging is insufficient for this...

[2018-03-28 09:11] dkduck commented on #38
@TedTolboom  I actually decided to order one for you when I got home if you didn´t had one.
Next time I order something and if you don´t have the device, I´ll order an extra to sent to you, that way I can show my appreciation and get things done LOL

Happy easter and yet again, thanks for you dedication and service :-)

[2018-03-28 18:18] TedTolboom commented on #38
@dkduck thanks... appreciate the gesture.

Happy easter!

[2018-03-28 18:19] TedTolboom commented on #54
@canedje so the issue can be closed?

[2018-03-28 18:20] TedTolboom commented on #52
@etretti can you give me a bit more information?
What did you try to do / what was the result? etc

[2018-03-28 18:39] etretti commented on #52
I had it controlling 2 lights in My livingroom. They worked fine every Day til 1.5.8 then just stopped. And i cant repair Them. Homey never detects it. Just Times out. I dont know how to give you more then that ☹️ i havet not tried pairing it since i wrote the first post. Ill try again tonight.

[2018-03-29 19:41] #54 closed

[2018-03-30 10:02] TedTolboom commented on #28
I inquired for an update at Athom (Emile in person) on what the plans are to complete the Zigbee implementation (and thereby resolve this issue)...

After an extensive discussion to triggered by this question, all I got back was:

weejewel [12:43]
OK! Well, we're working on it slightly_smiling_face

So unfortunately, I cannot provide a more detailed response to my app users.
If you have questions

[2018-03-30 10:02] TedTolboom commented on #19
I inquired for an update at Athom (Emile in person) on what the plans are to complete the Zigbee implementation (and thereby resolve this issue)...

After an extensive discussion to triggered by this question, all I got back was:

weejewel [12:43]
OK! Well, we're working on it slightly_smiling_face

So unfortunately, I cannot provide a more detailed response to my app users.
If you have questions

[2018-03-30 10:02] TedTolboom commented on #25
I inquired for an update at Athom (Emile in person) on what the plans are to complete the Zigbee implementation (and thereby resolve this issue)...

After an extensive discussion to triggered by this question, all I got back was:

weejewel [12:43]
OK! Well, we're working on it slightly_smiling_face

So unfortunately, I cannot provide a more detailed response to my app users.
If you have questions

[2018-03-30 10:02] TedTolboom commented on #26
I inquired for an update at Athom (Emile in person) on what the plans are to complete the Zigbee implementation (and thereby resolve this issue)...

After an extensive discussion to triggered by this question, all I got back was:

weejewel [12:43]
OK! Well, we're working on it slightly_smiling_face

So unfortunately, I cannot provide a more detailed response to my app users.
If you have questions

[2018-03-30 10:02] TedTolboom commented on #27
I inquired for an update at Athom (Emile in person) on what the plans are to complete the Zigbee implementation (and thereby resolve this issue)...

After an extensive discussion to triggered by this question, all I got back was:

weejewel [12:43]
OK! Well, we're working on it slightly_smiling_face

So unfortunately, I cannot provide a more detailed response to my app users.
If you have questions

[2018-03-30 10:04] TedTolboom commented on #49
I inquired for an update at Athom (Emile in person) on what the plans are to complete the Zigbee implementation (and thereby resolve this issue)...

After an extensive discussion to triggered by this question, all I got back was:

So unfortunately, I cannot provide a more detailed response to my app users.
If you have questions when this will be resolved, please contact Emile directly on slack or

[2018-03-30 10:25] etretti commented on #52
Ok now ive tried to pair the old one and a new one, none of them gets paired. It either times out or after cluster grabbing says something went wrong. Other single button aqara buttons work and Philips Hue zigbee lampa work. Also tried to restart THE app and homey. Nothing helps.

[2018-03-31 11:27] Rockhoppers1964 opened #55 "Mesh issue"
My Zigbee setup does not appear to be forming a mesh network and the range to some devices as very poor. Is this function enabled within the product range ?

[2018-03-31 11:30] kasteleman commented on #55
First, do you only have battery powered devices?
Second, please give Some more details regarding the devices you have

Op za 31 mrt. 2018 om 13:27 schreef Rockhoppers1964 <
notifications@github.com>

[2018-03-31 11:32] Rockhoppers1964 commented on #55
I have a bank of three double mains Xiaomi wall switches.
Two of them work most of the time, one sometimes.
I can sit and switch 1 and 2 off and on ok using Homey, but Number three will not respond.
they are within inches of each other so don't think it is range, unless interference.
I have removed and re-added the unit twice now with no change
Also, the whole Zigbee network appears to be connecte

[2018-03-31 11:33] Rockhoppers1964 commented on #55
![image](https://user-images.githubusercontent.com/37954974/38162790-a6a2f874-34df-11e8-9696-a31a5571466b.png)

[2018-03-31 11:39] kasteleman commented on #55
Within inches?

What if you move the 3. To another location? Does it respond then?

Op za 31 mrt. 2018 om 13:33 schreef Rockhoppers1964 <
notifications@github.com>

[2018-03-31 11:41] Rockhoppers1964 commented on #55
There a three doubles right next to each other, two work, one does not.
Have not tried moving it yet.
Have another one 4 meters from Homey in the other direction and even it is a bit flaky at times.

[2018-03-31 11:42] Rockhoppers1964 commented on #55
In the bank of 3 units set up at 3,2,1, with 3 being furthest away by 6 inches, 1 and 2 work, 3 sometimes, but more often not ?

[2018-03-31 13:08] Rockhoppers1964 commented on #55
Also have a Human body sensor another 6 meters away through a wall and it has never responded.
I assumed it would mesh to the mains wall switches

[2018-04-02 02:50] mkmintman commented on #51
In response to the above comment, I bought this thing to put into my humidor with smartthings. As soon as it gets to 65% humidity it stops working.

[2018-04-02 18:23] TedTolboom commented on #51
@magtimmermans @mkmintman there is no hard limit where the Aqara temperature and humidity sensor stops reporting the humidity...
I checked my own insights and tested it by using the sensor as a breath analyzer (rapidly increasing the temperature and humidity) and it responds instantly and well above the 60-65%... you could try this yourself.

Also today on Slack, the user @deadlifter posted this g

[2018-04-03 09:10] lubbertkramer commented on #51
Issue is bigger then only the humidy, more battery xiaomi devices lose connection over time. Have reported this at athom and discussed it with @TedTolboom but it doesn't looks like a app problem more a zigbee core problem

[2018-04-14 10:07] TedTolboom commented on #42
See release v0.3.0 -> added support for the Gyro version

[2018-04-14 10:07] #42 closed

[2018-04-14 15:31] TedTolboom commented on #50
@synegic can you try with the new autocomplete scene flow triggers of the v0.3.0 app update?
And report back.

[2018-04-14 15:33] TedTolboom commented on #43
Added in v0.2.5 for both temperature / humidity sensors (only for temperature)
I'll close this issue... please re-open if not working properly / not to your expectation

[2018-04-14 15:33] #43 closed

[2018-04-14 15:34] TedTolboom commented on #52
@etretti do they all work now? Can this issue be closed?

[2018-04-14 15:35] TedTolboom commented on #39
@Maxwell70 do you still experience this issue (also after a reboot / removing the device before re-adding)?

[2018-04-14 15:37] Maxwell70 commented on #39
@TedTolboom unfortunately, Yes

[2018-04-14 15:39] Maxwell70 commented on #39
I currently have 20 devices in the Homey.

[2018-04-14 15:39] TedTolboom commented on #55
@Rockhoppers1964 it should start creating a mesh...
however there are multiple issues reported about the stability of Homey's Zigbee network..

Also in the latest Blog post, Athom indicated that zigbee might be unstable with xx devices:
https://blog.athom.com/behind-magic-march-2018/

And corresponding issues:
https://github.com/athombv/homey/issues/2325
https://github.com/athombv/homey/issues/195

[2018-04-15 07:24] etretti commented on #52
@tedtolboom yes i got the other one to work. Its a real pain to pair them but it eventually gets done. The pairing process with these är far from bugfree. U can Close.

[2018-04-15 07:24] #52 closed

[2018-04-15 16:27] Rockhoppers1964 commented on #55
Nope, still not seeing the mesh yet.
Loosing the Zigbee units a few hours after a restart.
A

------ Original Message ------
From: "dT" <notifications@github.com>
To: "TedTolboom/com.xiaomi-mi-zigbee"
<com.xiaomi-mi-zigbee@noreply.github.com>
Cc: "Rockhoppers1964" <andrew@rockhoppers.co.uk>; "Mention"
<mention@noreply.github.com>
Sent: 14/04/2018 16:39:48
Subject: Re: [TedTolboom/com.xiaomi-mi-zig

[2018-04-16 19:57] TedTolboom commented on #55
@Rockhoppers1964 as mentioned in https://forum.athom.com/discussion/comment/71694/#Comment_71694, I understand that the installation of the new app update resulted in a re-meshing / re-establishing of Zigbee routes.

Since no relevant changes were made, only the re-initialisation of the app resulted in this....
Will take that one into consideration for other issues...

Can you show how the Zigbee

[2018-04-18 09:17] andydp84 opened #59 "Enhancement request: aqara human body sensor"
I just added one human body sensor to my network which works better than Fibaro's/Neo Coolcam's motion sensor. I made two flows; one to switch on the light if the senor is triggered and one flow that switches off the light when the motion alarm is switched off.
A major issue here is that the light will be switched off after the amount of seconds you entered in the device settings (e.g. 60s). Even

[2018-04-18 09:39] TedTolboom commented on #59
Did you only try with the 60 seconds or also with other (bigger) values like 90 seconds?

The requested feature is already part of the code... implemented on driver side, since the device doesn’t cancel the alarm trigger itself..

but please be aware that in normal operation mode (as the device will automatically enter 2 hours after inclusion), the device will only re-trigger after 60 seconds...

[2018-04-18 13:35] Maxwell70 commented on #39
@TedTolboom Hi! After updating to 0.3.0 I tried to add devices to Homey - it is impossible! I tried Aqara Human Body Sensor, Aqara Temperature and Humidity Sensor, Aqara Smart Socket ZigBee Version, Aqara Wireless Remote Switch Double. I couldn't add anything.

[2018-04-18 18:40] andydp84 commented on #59
I changed the parameter to 70s but with no result. Lights are switched off after 70s even if I moved like hell in front of the sensor.
Increasing the time limit even further seems a waste of energy to me if the sensor should trigger lights (I don't want the lights on for 60+ seconds if I'm just passing down the hall.)

Do you see a solution for this issue?

[2018-04-23 10:43] SadhuRus opened #60 "Aqara (Single / Double) Wall Switch With Null not working"
The device is added normally. However, for some reason, only one button works programmatically. (Through Homey) The second will change the trigger, but the light does not change. Hardware buttons both work correctly. What could be the problem?

Product Id: lumi.ctrl_ln2.aq1
Device Id: 81
Profile ID: 260

Plugin version: 0.2.4

[2018-04-23 11:29] SadhuRus commented on #60
After enable DubugMode in logs:

`2018-04-23 14:27:59 [log] [ManagerDrivers] [ctrl_neutral2] [0] set onoff -> true
2018-04-23 14:27:59 [log] [ManagerDrivers] [ctrl_neutral2] [0] [AqaraLightControlDouble] [switchCapabilityListener] Received capabilityId = onoff  value =  true
2018-04-23 14:28:05 [log] [ManagerDrivers] [ctrl_neutral2] [0] set onoff.1 -> true`

[2018-04-27 21:27] Romast-Kirov opened #61 "Не работают выключатели Aqara"
Доброго времени!!!!
Насмотревшись видео в сети я решил построить свой "умный дом" на атоме.
Потихоньку купил датчики , сегодня пришли выключатели Aqara.
И вот тут проблема , они добавляются,  но не реагируют не на какие действия с шарика, только физическое нажатие на выключатели работает.
Если отключить Xiaomi Mi ZigBee и подключить выключатели просто как ZigBee то включение выключение работает.
В

[2018-05-04 05:16] ca5perl opened #62 "Xiaomi Cube Double Tap don't work"
Hello.

I have successfully pair there mi cube and all are working except double tap and motion.

Anyone can help?

[2018-05-04 07:30] TedTolboom commented on #62
Hi @ca5perl,

Can you clarify which ‘motion’ you mean? Sliding?

Perhaps the answer to the issue: double taping (and also sliding) has to be done with the cube and not on the Cube...

so in case of double tapping, you’ll need to lift the Cube and knock twice on e.g. the table surface. Not tapping twice on the Cube itself...

[2018-05-04 08:37] chinswain commented on #62
@ca5perl Double tap and slide works fine for me.

[2018-05-04 19:22] Romast-Kirov opened #63 "Do not work switches Aqara"
Kind time!!!!
Having seen enough video in network I have decided to construct the "clever house" on atom.
I have slowly bought sensors, Aqara switches have come today.
And here a problem, they are added, but don't react on any actions with athom, only physical pressing switches works.
If to switch-off Xiaomi Mi ZigBee and to connect switches simply as ZigBee that inclusion switching off works with

[2018-05-04 20:54] jwikman commented on #39
@Maxwell70 I think that you've hit the roof on how many Zigbee devices that can be directly connected to Homey. I've read somewhere that the limit is 20 devices. I've had issues with this myself before, and the solution was to add Zigbee devices that can act as routers. To be able to act as a router it has to be connected to power, ie. not running on battery. In that way battery powered devices ca

[2018-05-04 21:47] jwikman commented on #40
@TedTolboom I've added a "Last Seen" read only setting (Label) in the "Device Specific" section for the sensors "sens" and "weather". That's enough for me right now, but it would be more elegant to implement it as a capability, as suggested by @robertklep. But I'm too new to this to be able to pull that off.

Anyway, let me know if you want me to create a Pull Request and I'll try to figure out ho

[2018-05-04 21:59] MagnusPer commented on #43
Sorry for late feedback - the calibration feature works great. Thanks for the update!

[2018-05-05 07:15] jwikman commented on #39
@maxwell70 sorry, I didn't see your screenshot before... But then the issue must be that no device are using the routers. I don't know how to force a device to go through a router, it just happens for me.. it might be related to how all devices are located...
I cannot understand why there's a hard limit of only 20 devices, 20 devices are not many IMO.

[2018-05-05 07:36] kasteleman commented on #39
The hard limit to 20 devices without a router is a limit in the hardware of
the devices. That is not a application limit, nor is it a specific limit of
Homey. It is part of the Zigbee specs. Some brands have a higher limit, but
that is the choice of that brand.

Op za 5 mei 2018 om 09:15 schreef Johannes Wikman <notifications@github.com>

[2018-05-05 07:59] kasteleman commented on #39
There are a few ways to try to get devices use the router instead of a
direct connection:

1. Reboot Homey. After a reboot wait for a few minutes. The mesh wil
rebuild and can lead to a different route of Some devices

2. Try to include a device near to a router and at the spot at the final
location of the device. Although Some devices are picky and a inclusion
won’t succeed. That’s trial and erro

[2018-05-05 08:02] Maxwell70 commented on #39
@kasteleman @jwikman I have 4 routers. For a long time on old firmwares Routers were routers for other devices! And then after the update it disappeared! Homey firmware is to blame for these limitations! I have more than 50 devices on Mihub and everything works fine.

[2018-05-05 08:04] Maxwell70 commented on #39
@kasteleman I tried that already.

[2018-05-05 08:09] kasteleman commented on #39
@Maxwell70 from what firmware did that happen? Did you put in a issue at
Athom’s github or mailde support?

Op za 5 mei 2018 om 10:04 schreef Maxwell70 <notifications@github.com>

[2018-05-05 08:16] Maxwell70 commented on #39
@kasteleman
In January was so:
<img width="676" alt="2018-01-19 18 33 12" src="https://user-images.githubusercontent.com/33258356/39661134-d9356210-5076-11e8-8d94-87fac0c9a537.png">
And now here is so:
<img width="617" alt="2018-01-28 10 33 06" src="https://user-images.githubusercontent.com/33258356/39661145-17a46a64-5077-11e8-8d35-a0b0f94bc97d.png">
In support of a lot about it wrote!

[2018-05-05 08:26] kasteleman commented on #39
@Maxwell70, they removed the picture for a reason: it wasn’t always correct.

If i would trust that, i would panic right away 😉

Op za 5 mei 2018 om 10:20 schreef Maxwell70 <notifications@github.com>

[2018-05-05 08:30] Maxwell70 commented on #39
@kasteleman Should I upgrade to Version 1.5.11-rc.1?

[2018-05-05 08:42] jwikman commented on #39
@maxwell70 I'm running 1.5.11-rc1, and at least some devices are meshing...
(btw, I want that illustrative mesh map back as well)

[2018-05-05 08:44] Maxwell70 commented on #39
@jwikman Updated. Let's wait and see ......

[2018-05-05 08:49] SadhuRus commented on #63
Absolutely identical problem. Need help!

[2018-05-05 09:56] TedTolboom commented on #63
Can you provide more details (product numbers / ID’s in Homey) / pictures of the switch you are trying to operate

[2018-05-05 10:02] TedTolboom commented on #61
@Romast-Kirov I don’t speak Russian; is this issue a duplicate of the new one you created: https://github.com/TedTolboom/com.xiaomi-mi-zigbee/issues/63

If so, I would propose to close this ine

[2018-05-05 12:35] #61 closed

[2018-05-05 12:46] Romast-Kirov commented on #63
Hi!!! Thanks for a response!!!

The rocker switch, with a zero phase.
If to add him with Xiaomi Mi ZigBee, then he is added, but doesn't work with athom.
Having added as ZigBee works.
![1](https://user-images.githubusercontent.com/38797231/39663393-6b7442f0-507b-11e8-888e-f662b7fb51f2.jpeg)
![2](https://user-images.githubusercontent.com/38797231/39663394-74239c7a-507b-11e8-8290-e6d11704d29b.jpeg)

[2018-05-05 12:47] Romast-Kirov commented on #63
The two-gang switch if to add with Xiaomi Mi ZigBee, then it is defined too, but only one button works with athom.
Having added as ZigBee appears in athom only one button, there is no second.
![3](https://user-images.githubusercontent.com/38797231/39663408-9d64ce1a-507b-11e8-9ba2-e4b23491e77f.jpeg)
![4](https://user-images.githubusercontent.com/38797231/39663411-a3be7112-507b-11e8-9c76-600e623ea1d

[2018-05-05 12:49] Romast-Kirov commented on #63
Not purebred switches, only one could add, I can't include the others in athom.
But both keys work.
![5](https://user-images.githubusercontent.com/38797231/39663429-e93c1da2-507b-11e8-80c1-ded5f1140b84.jpeg)
![img_9983](https://user-images.githubusercontent.com/38797231/39663430-ec649acc-507b-11e8-9250-cab52c50e547.JPG)

[2018-05-06 03:52] Maxwell70 commented on #39
@jwikman I removed one sensor from Homey. Then I wanted to pair the Smart socket plug with Homey - "Device not found"!

[2018-05-06 07:06] TedTolboom commented on #63
@Romast-Kirov thanks for providing the additional details; is indeed a duplicate of #60
I will close this issue and will follow-up on #60, ok?

[2018-05-06 07:06] #63 closed

[2018-05-06 07:33] TedTolboom commented on #60
@SadhuRus @Romast-Kirov looks like this is a driver issue...

Some explination: I've added support for the Aqara wired switches based on a single driver (ctrl_neutral2) and tested it with the Aqara wall switch double (without neutral), with product ID: QBKG03LM (and Zigbee ID: lumi.ctrl_neutral2)...

The idea behind one driver, was my (now proven wrong) estimate that the wall switch with and witho

[2018-05-06 18:58] Romast-Kirov commented on #60
Hi!!!
One key switch.
![img_0337](https://user-images.githubusercontent.com/38797231/39676759-8d4d7ed4-5178-11e8-8dc4-c2ca3f8e4a6f.JPG)

[2018-05-06 18:59] Romast-Kirov commented on #60
Two keys switch.
![img_0336](https://user-images.githubusercontent.com/38797231/39676774-a7d8ca92-5178-11e8-9aab-40319743974e.JPG)

I can give remote access for debugging!!!!
Thanks!!!

[2018-05-07 07:00] Rockhoppers1964 opened #64 "Wrong switch activating"
I have two wall double switches right next to each other and have had range problems before when i had three in line.
Removed one and the other two now work, don't understand why ?

Recent problem is that there is an PIR outside the back door and when triggered i want it to turn on the outside light connected to one of the switches.

The first time i tried this, the switch next to it activated and

[2018-05-07 09:59] Rockhoppers1964 commented on #55
![capturez](https://user-images.githubusercontent.com/37954974/39696440-a68f432e-51e5-11e8-8cdc-72f5b5e8d01e.JPG)

Appear to be forming a mesh now.

[2018-05-07 21:34] TedTolboom commented on #55
@Rockhoppers1964 based on the network table shown above, it still shows the direct connections between the device and the ID of Homey (0)...

so not really a mesh yet; in that case, it would show a route from endDevice via Router to Homey..

What happens when you wake-up one of the EndDevices? Ie press the button of the Aqara Human Body sensor....

[2018-05-07 21:45] TedTolboom commented on #64
@Rockhoppers1964 just to check if I understand the issue correctly...

For switch 1/2, you try with above flow to switch on the left switch (1 in your numbering) and it actually switches the right switch. Whereas if you toggle `switch 1` on the devices card, it does switch correctly?
<img width="342" alt="schermafbeelding 2018-05-07 om 23 39 39" src="https://user-images.githubusercontent.com/17163

[2018-05-07 22:01] TedTolboom commented on #60
@Romast-Kirov thanks for posting the pictures...
So it is the QBKG11LM and QBKG12LM for the single and double switch with neutral and load up to 2500W

The offered remote access is appreciated, but will not provide much more detail. Part of the information I need is originating from a Zigbee Sniffer... which doesn't have a big enough range ;-P

So fastest option it to get one of these switches mys

[2018-05-08 04:18] koktaildotcom opened #65 "Mi lumi plug not logging energy measurement anymore"
Expected Behavior:
The energy measurement is shown in the `device card` and in `insights`.

Current Behavior:
The energy measurement is not shown in the `device card` and in `insights`. After a couple of days the energy measurement of the device stops working. The current `power` is `0` and not updated anymore.

Running:
Homey 1.5.11-rc1 on the latest app firmware.

[2018-05-09 01:29] Rockhoppers1964 commented on #64
Ted, the issue is wider than that, i have two double wall switches next to each other.
So first wall switch has switch numbers 1 (left) and 2 (right) the second has numbers 3 (left) and 4 (right)
When i try and activate switch 2 (on wall switch 1) i get switch 4 (on wall switch two) coming on instead.
Can activate correctly through the devices menu, but not using flows.
Does that make sense ?
Andr

[2018-05-09 02:17] addwindtan commented on #64
@Rockhoppers1964 I just tested on my setup at home and the action cards on the flow for both left and right buttons behave as required. However, I have only 1 double wall switch for my test.

Could you unpair switch 3/4 first and see if you have the same problem on switch 1/2?

[2018-05-11 08:28] TedTolboom commented on #64
@addwindtan I'm able to reproduce it...

Only on the second (right) switch, when activating from a flow card, the latest initialized device will be activated... so it looks like the device instance is not correctly linked to the flow card...

[2018-05-11 13:31] Rockhoppers1964 commented on #64
Is that an issue with my flow ?

[2018-05-11 14:41] addwindtan commented on #64
I was not aware that we had to take care of the instance at the driver level. @TedTolboom Do you have some sort of a sample code I can refer to to help me fix the bug?

[2018-05-12 12:06] calambur opened #66 "Mesh driver does not work"
Mesh driver does not work Therefore, in the remote ends of the house, Homey does not see the device.
![2018-05-12 15 05 09](https://user-images.githubusercontent.com/1989503/39957126-0690ed9a-55f6-11e8-96a0-811347d88a5b.png)

[2018-05-12 19:33] TedTolboom commented on #64
@addwindtan see https://developer.athom.com/docs/apps/tutorial-Flow-Arguments.html
In this example the flow card is registered on driver level... I'd like to propose to add the card on app level; similar to the trigger cards of the wireless switches...

But let me have a look into it... already have been working on the driver in parallel to working on #60

[2018-05-13 20:30] TedTolboom commented on #64
@Rockhoppers1964 found the bug and corrected it in above mentioned commit towards the development branch. Tested on my 2 switches and all switches are working correctly.

@addwindtan on code changes: moved the flow cards (for now) to the app level and added the right device instance to the runListener. In addition, I changed the EndPoints used for the attributeListeners back to 1 and 2. These endp

[2018-05-13 20:33] TedTolboom commented on #60
Brief update, I've received the switch so I will be able to test the issue myself in the next days.

In addition, I found the cause of the #64 issue and fixed that in the device driver that both devices have in common... this already might fix this issue or contribute to fixing this issue...

[2018-05-14 05:45] koktaildotcom commented on #65
Someone with the same issue?

[2018-05-14 16:10] SadhuRus commented on #60
Hello! I apologize for the long absence.
Incorporated Dubug mode. Here are the logs:

After Adding:
`2018-05-14 18:59:11 [log] [ManagerDrivers] [ctrl_neutral2] [0] ZigBeeDevice has been inited
2018-05-14 18:59:11 [log] [ManagerDrivers] [ctrl_neutral2] [0] ------------------------------------------
2018-05-14 18:59:11 [log] [ManagerDrivers] [ctrl_neutral2] [0] Node: 2cabf860-d8a1-4c64-902a-f88a0693

[2018-05-14 17:07] TedTolboom commented on #60
@sadhurus Thanks for providing the debug logging...
based on this logging I already notice that that this switch uses Endpoint 0 and 1 for left and right switch, whereas the other switch uses respectively Endpoint 1 and 2...

I’ll verify with the switch I have at home...

[2018-05-14 17:46] TedTolboom commented on #60
You can already try this by changing the following based on the latent development branch:
https://github.com/TedTolboom/com.xiaomi-mi-zigbee/blob/development/drivers/ctrl_neutral2/device.js#L18

On L18 and L21, change 1 into 0
On L25 and L28, change 2 into 1
Save and re-run and the device should work...

Considering the differences between both switches, I will need to split the drivers... so re-

[2018-05-15 05:33] TedTolboom commented on #65
@koktaildotcom I will try to reproduce in the next days...

Can you try if a reboot (including re-init) solves the issue? It might be caused by a generic Zigbee bug.

[2018-05-15 05:46] koktaildotcom commented on #65
A reboot and repair does not solve the issue. I've have a flow that verifies every 5 minutes to turn on an ikea vaxer (hydro plant) based on luminous intensity and time. Yesterday i've switched on the socket manualy, and thereby the energy measurement came back at ones. Is there a difference between a flow trigger or a manual one?

[2018-05-15 17:57] SadhuRus commented on #60
Yes!! Now work fine!!! Thank you so much!!!

[2018-05-16 21:25] TedTolboom commented on #64
@Rockhoppers1964 @addwindtan issue has been fixed and running fine on my setup (2x switch).
Full updated app is available in the development branch: https://github.com/TedTolboom/com.xiaomi-mi-zigbee/tree/development

If you would have a change to test this version in addition, I would appreciate that.
Please note the changelog in the readme, for this issue you will need to rebuild the flows

[2018-05-16 21:26] TedTolboom commented on #60
@SadhuRus @Romast-Kirov  issue has been fixed and running fine on my setup.
Full updated app is available in the development branch: https://github.com/TedTolboom/com.xiaomi-mi-zigbee/tree/development

If you would have a change to test this version in addition, I would appreciate that.
Please note the change-log in the readme, for this issue you will need to re-include these type of switches to s

[2018-05-17 07:51] Romast-Kirov commented on #60
@TedTolboom
Forgive me for the stupid question, but how to  https://github.com/TedTolboom/com.xiaomi-mi-zigbee/tree/development update from here?

[2018-05-19 07:44] koktaildotcom commented on #65
Today i noticed that the energy measurement is not logged anymore.

[2018-05-21 21:18] webinfodk opened #67 "Can't add more devices"
I have pared 24 xiaomi devices and now I can't add more, as i read there should be no limidt.
[homeu zigbee devices.txt](https://github.com/TedTolboom/com.xiaomi-mi-zigbee/files/2024101/homeu.zigbee.devices.txt)

[2018-05-22 05:10] Maxwell70 opened #68 "Aqara Smart Door Lock"
@TedTolboom Hi! Are you planning to support the device?

[2018-05-24 10:04] koktaildotcom commented on #65
![image](https://user-images.githubusercontent.com/10741929/40478914-a35f1a90-5f4a-11e8-9dfa-3405558709a7.png)

[2018-05-25 07:17] Rockhoppers1964 commented on #64
Ted, not sure how i do that ?

[2018-05-25 14:29] permadm commented on #67
I have paired 25 xiaomi/aqara zigbee devices and now I can't add more (((
How can this problem be solved?

[2018-05-25 18:07] permadm commented on #66
+1

[2018-05-27 13:43] magtimmermans commented on #51
Does anyone knows how to make sure they can reported again. I have rebooted the homey, remove battery from the Aqara Temperature and Humidity Senso and but it back. But all did not help. After 3-8 times removing the device from the network and added again it works. But then it looses all information and flows :( Any news?

[2018-06-02 05:54] Rockhoppers1964 commented on #64
When is this going to be released Ted, this (and a load of other homey issues) is driving my wife mad now and pushing me to dump Homey and go for another system.

[2018-06-02 06:45] TedTolboom commented on #64
I will push it to the App Store this weekend

[2018-06-03 07:16] ciotlosm opened #69 "Collaboration on drivers"
Hi there,

I noticed your project and progress. I think it's great more people allow open source alternatives to xiaomi gateway. Would you be interested in collaboration on device drivers?

There is a project here: https://github.com/Koenkk/zigbee2mqtt doing something similar to your but not restricted to xiaomi.

The project recently extracted converters (your version of drivers) from the core pr

[2018-06-03 20:10] TedTolboom commented on #64
v0.4.0, including the fix for this issue, has been uploaded to the app store for approval.
I will close this issue for now. If the issues persists, please re-open

[2018-06-03 20:10] #64 closed

[2018-06-03 20:11] TedTolboom commented on #60
v0.4.0, including the fix for this issue, has been uploaded to the app store for approval.
I will close this issue for now. If the issues persists, please re-open

[2018-06-03 20:11] #60 closed

[2018-06-03 20:11] TedTolboom commented on #62
Closed due to inactivity, please re-open if the issue persists

[2018-06-03 20:11] #62 closed

[2018-06-03 20:12] TedTolboom commented on #50
Closed due to inactivity, please re-open if the issue persists

[2018-06-03 20:12] #50 closed

[2018-06-03 20:14] TedTolboom commented on #68
@Maxwell70 yes, I'm planning to add support for it...
see also the opening post on https://forum.athom.com/discussion/4120/app-xiaomi-mi-zigbee-main-discussion-topic-v0-4-0

[2018-06-03 20:16] TedTolboom commented on #30
v0.4.0, including support for the Aqara Curtain Controller, has been uploaded to the app store for approval.
I'll close this issue, this this enhancement request is fullfilled.

[2018-06-03 20:16] #30 closed

[2018-06-05 16:54] kopanicak opened #71 "Philips Light bulb adding error"
i can't add Philips light bulb.
i have got an error: device.power is not a function.
IP and token are good.

what i do wrong? thanks

![screen](https://user-images.githubusercontent.com/9351901/40990623-b9bc5b30-68f1-11e8-8676-88a64a1db5e6.png)

[2018-06-14 15:45] AlekseyAE opened #72 "Doesn't work properly with more then 20 devises (Atom)"
I add 24 devises and now after delay (5+ hours) nothing work.
After reboot Athom everything work again, but after a little delay - nothing work again.

[2018-06-15 12:10] Romast-Kirov commented on #66
@calambur @permadm

Привет!!!
На сайте девелопера не всегда правильно отображается как подключено устройсвто.
Недавно я столкнулся с такой же проблемой.
Решил так.
Подключил все устройств к Homey  и затем разместил их в своих местах, там где   они должны работать через роутер.
А затем на каждом устройстве несколько раз нажал на кнопки для соеденения, что бы индикатор начел моргать.
И после этого о

[2018-06-20 19:16] #69 closed

[2018-06-27 05:38] Maxwell70 opened #73 "Add support for Aqara Cube"
@TedTolboom Hi! Are you planning to support the device Aqara Cube (MFKZQ01LM)?

[2018-06-29 12:48] fkooten opened #74 "Verouderd"
Recently I purchased 2 Xiaomi double Wireless switches model WXKG02LM. After installing these switched in Homey I wanted to use them in a flow to control some lights. As soon as I selected the switch in a flow it was considered "Verouderd". I could select the buttons but not the number of times pressed. I removed the switches from Homey and removed the battery to see if I could reset them. This wa

[2018-06-29 14:40] TedTolboom commented on #74
@fkooten the triggercards marked as "Verouderd" or "Deprecated" are indeed only partially working and will be removed in the next app update, as mentioned in the changelog:

Please use instead of the old trigger card:
![image](https://user-images.githubusercontent.com/17163431/42098308-d87d0c96-7bba-11e8-905e-5316b0ac0321.png)

the new trigger card:
![image](https://user-images.githubusercontent.c

[2018-07-01 09:17] BBEHannes commented on #25
how is this going? I still do not see the battery level of several Xiaomi sensors (aqara door\windows and Motion sensors)

[2018-07-01 14:10] chinswain commented on #25
@BBEHannes Unfortunately Athom need to make a change - I've hassled them a few times about this but they don't seem interested...

[2018-07-01 15:04] BBEHannes commented on #25
sigh...

[2018-07-02 08:11] sprut666666 opened #75 "[com.xiaomi-mi-zigbee] message: 'forced_timeout'"
**Homey Version:** 1.5.11
**Device:** https://github.com/TedTolboom/com.xiaomi-mi-zigbee/blob/master/drivers/curtain/device.js
[err] [ManagerDrivers] [curtain] [0] Error: could not perform goToLiftPercentage on closuresWindowCovering { Error: forced_timeout
   at Object.<anonymous> (/opt/homey-client/system/manager/ManagerApps/jsonfns.js:1:1103)
   at JSON.parse (<anonymous>)
   at Object.jsonToOb

[2018-07-03 09:41] fkooten commented on #74
Thx it does the job

[2018-07-03 09:41] #74 closed

[2018-07-08 07:41] YD85 opened #76 "Adjust sensitivity of Aqara Cube - add feature"
I've just installed Homey and am experimenting with the Aqara Cube to control curtains, lights and sonos. However the Cube response too sensitive on any movement; i.e. command movement or shake. Result when a turn in bed (Cube is next to my bed) the curtains open, lights turn on and music starts playing... not a favourable scenarios.
It would be good if you can set tresholds for sensors (not only

[2018-07-13 12:37] PabloRuis opened #77 "Aqara human body sensor & occupancy sensor don`t work correctly"
The sensors worked perfectly whith milia app, but whith Homey they dont`t work  stably. How can I fix this?

Thx!

[2018-07-14 10:37] PabloRuis commented on #72
I`ve got  the same problem....

[2018-07-15 08:05] TedTolboom commented on #76
@YD85 I'm not aware that the Cube provides options to set the sensitivity of the build in sensors...
So this is a device feature / limitation for which I don't see options to solve it from driver / app side.

You could try to change movement type to 90 degrees flipped or double tap to prevent accidental triggers. Or build in an additional condition to only switch on the light / music if the moveme

[2018-07-15 08:07] TedTolboom commented on #73
Will close this issue, expect the original question is properly answered

[2018-07-15 08:07] #73 closed

[2018-07-15 08:09] TedTolboom commented on #71
@kopanicak this is an issue not related to the Xiaomi Zigbee app, but to the Xiaomi Mi Home app.
I suggest to create an issue for additional support at https://github.com/jghaanstra/com.xiaomi-miio

Will close this one since it is not the scope of this app

[2018-07-15 08:09] #71 closed

[2018-07-15 08:13] TedTolboom commented on #72
@AlekseyAE @PabloRuis can you post a screenshot of your Nodes overview from: https://developer.athom.com/tools/zigbee?
In the current Zigbee implementation of Homey, there are limitations with the amount of (batttery powered) Endpoints you can add (vs the amount of Routers).

[2018-07-15 08:16] TedTolboom commented on #77
@PabloRuis can you provide more information to understand the issue better?
What is your setup / Homey version / app version?
When does the issue occur and what is the issue (not triggering / not updating)?

[2018-07-15 10:37] TedTolboom commented on #76
thanks for the feedback! I'll close this issue for now.

[2018-07-15 10:37] #76 closed

[2018-07-15 11:08] PabloRuis commented on #72
@TedTolboom
<img width="653" alt="img1" src="https://user-images.githubusercontent.com/41194052/42733337-8a88b654-8838-11e8-9e52-cf130a793a06.PNG">
<img width="650" alt="img2" src="https://user-images.githubusercontent.com/41194052/42733338-8aaf5444-8838-11e8-855b-bb451961b8c0.PNG">
<img width="655" alt="img3" src="https://user-images.githubusercontent.com/41194052/42733339-8ad1f51c-8838-11e8-96ab

[2018-07-15 11:29] PabloRuis commented on #77
@TedTolboom
Homey version 1.5.11 (windows 10)
Sorry, I didn`t correctly identify the problem. The sensors work normaly, but  the scene (sensor - wall switch or sensor - light bulb) runs with delay or doesn`t work. Sometimes everythink works fine, but it doesn`t happen often.

[2018-07-19 12:17] Maxwell70 commented on #39
@jwikman Hi! I bought some light bulbs IKEA Trådfri. Paired them with Homey. After that, I was able to add more devices to the Homey. But after some time, long-added devices stop working.

[2018-07-30 16:49] jtebbens commented on #55
Latest firmware on homey 1.5.11. Ikea lightbulb E27 (zigbee router) do not mesh up together. I have a top floor that homey cannot reach. I have 2 others (voorraad kast and toilet 1st floor) that could be in between as router. It jus doesnt create a mesh. Now moved 2 of those to my philips hue and now the top floor lightbulb responds. I tried only the topfloor first but that didnt work, then the to

[2018-08-10 08:47] kapusticka opened #79 "Using without Xiaomi bridge."
Hi. It’s possible to use Xiaomi home sensors without bridge? It’s possible  connect itvto Athom Homey directly?

[2018-08-10 11:09] TedTolboom commented on #79
That’s the whole purpose of this app...

[2018-08-30 06:55] circuuz opened #80 "[Feature Request] Add temperature to door/window sensor"
The door and window sensor also measures temperature. Deconz for example seems to have found a way to fetch this.
https://github.com/dresden-elektronik/deconz-rest-plugin/wiki/Supported-Devices#supported-sensors

Can we do the same?

[2018-08-30 08:30] TedTolboom commented on #80
@circuuz yes, that would be possible if Athom will make a change in the Zigbee core...

It requires a manufacturing specific attribute to be provided unparsed... currently the report is parsed and therefore unreadable.
This is the same attribute also providing the battery information of the device (on an hourly interval).
https://github.com/athombv/homey/issues/2165

I would not expect that Athom

[2018-08-30 09:05] circuuz commented on #80
I see, thank you for the clear answer.

tors 30 aug. 2018 kl 10:30 skrev dT <notifications@github.com>:

[2018-08-30 16:47] YD85 opened #81 "Xiaomi Aqara Zigbee Shock Sensor not supported"
Dear developer, fellow Homey fan,

I bought the Xiaomi Aqara Zigbee Shock Sensor, but unfortunately the device is not available in the app. Could you please add this device?
Thank will be highly appreciated!

Thanks,
YD85

[2018-09-02 17:07] LyoshaDovolen opened #82 "Aqara curtains problem"
Aqara curtains closing and opening randomly by themselves.

[2018-09-03 07:39] LyoshaDovolen commented on #82
https://youtu.be/F6r2k9wFDUM

[2018-09-03 13:52] rasssta opened #83 "0.5c and 4% intervals for temp/humidity sensors"
Hi,

I previously mentioned this in the app thread on the forum but thought it would be better to have it reported in an issue. So here's some copy paste from the initial post and the reply from Ted.

Q:
"I was previously using my Xiaomi temperature/humidity sensors connected directly to a Xiaomi GW and it had very specific updates, such as 0.03c and as often as every 5 seconds if there were major

[2018-09-06 12:00] Joostzilla opened #84 "Request for Gyro/motion sensor DJT11LM"
Hi Ted, is it possible to add support for the Motion Gyro sensor as described in the link?
Would be much appreciated

Best regards,
Joost Scholte

[https://www.aliexpress.com/item/Xiaomi-Aqara-Zigbee-Shock-Sensor-Mijia-Aqara-Smart-Motion-Sensor-Vibration-Detection-Alarm-Monitor-for-MiHome/32911954679.html](url)

[2018-09-06 15:44] mgutierrezp commented on #51
Hi,

I'm also suffering this issue. Sensors (temperature, switch, wall plug, for example) disconnects after a few hours. They normally reconnects automatically, but some hours later, with no intervention. I'm not sure, but I think sensors reconnects automagically after some event occurs: door/window magnet opens, somebody clicks a button, etc. It's like they enter some kind of deep sleep and wake

[2018-09-06 19:27] TedTolboom commented on #84
Hi Joost,
I’m working to reverse engineer the data provided by the Aqara Vibration sensor (official name).. already found some additional options that are not supported by the Xiaomi hub itself.

Will need to finalize the driver and some artwork...
So working on it.

Regards, Ted

[2018-09-06 19:27] TedTolboom commented on #81
Hi @YD85
I’m working to reverse engineer the data provided by the Aqara Vibration sensor (official name).. already found some additional options that are not supported by the Xiaomi hub itself.

Will need to finalize the driver and some artwork...
So working on it.

Regards, Ted

[2018-09-06 19:30] TedTolboom commented on #83
@rasssta Thanks for reporting (once more).
I will check once more if the communication between the sensor and the Xiaomi hub provides some additional insights...

[2018-09-06 19:35] TedTolboom commented on #51
@mgutierrezp as mentioned by @lubbertkramer this is a bigger issue that is originating out of Homey’s Zigbee core (outside my control)...
Many (different) devices (incl IKEA and HUE) suffer from the same issue...
As far as I know, there are no known containment’s...

Hopefully, Athom will deliver the Zigbee re-write (post 2.0) as soon as possible

[2018-09-06 19:38] YD85 commented on #81
Thanks a lot Ted! That is much appreciated!

Groet,
Yves

[2018-09-07 17:36] Joostzilla commented on #84
Thank you very much Ted for your hard  an continued work for Homey

[2018-09-08 10:46] BrokenTable opened #85 "Can't add Cube (zigbee device not found)"
Hi,

I'm trying to add a Cube but the installation fail. After 20-30 seconds I get "Device will be added' (translated Dutch => English) but then after several minutes 'No Zigbee device found'. I keep pressing de reset/link button every 2 seconds and Homey and app is up to date.

Any thoughts?

[2018-09-08 20:21] igitlin opened #86 "Bug adding curtain"
I try to add my Aqara Curtain, but Homey add as Unknown ZigBee

my device
LUMI
luni.curtain.es1
514
260

[2018-09-09 07:00] TedTolboom commented on #86
@igitlin could you add a screenshot of the ID's (Devices > my device > settings > Device information) before and after a reboot of Homey?

And please mention the product Type as shown on the curtain controller itself.

[2018-09-13 16:54] Emile86 commented on #81
I bought few of them, will be great if you can add them.

Many thanks for your work!

[2018-09-15 07:08] TedTolboom commented on #26
@Emile86 To set the right expectations. Athom will rewrite Zigbee after 2.0 has been released...
likely (not confirmed) with the 2.1 release.

[2018-09-15 12:04] Emile86 commented on #26
Sad to hear that. Especially that i don't think that they will release 2.0 before end of the year.
For 2.1 it will be a long story I'm afraid.
Thank you for clear answer.

[2018-09-16 05:11] nhassink opened #87 "Pairing instructions"
I found that when re-pairing a aqara window/door sensor the sensor started pairing after only a single button press instead of a 3sec press as mentioned in the pairing instruction. I had however reset the sensor with a 3 sec press before pairing it with the single press. Might be that in the reset state a single press is sufficient?

[2018-09-21 08:18] robinbakkenes opened #88 "new Aqara Wireless Remote Switch Single added as unknown Zigbee device"
Hi,

I just ordered a couple of new Aqara Wireless Remote Switch Single devices. I alreay have some installed fine, but these new ones are added as unknown zigbee devices. I already rebooted Homey and the Xiaomi app a couple of times and readded them, but they are not working as expected. Perhaps the devices have a new product ID?

![xiaomi1](https://user-images.githubusercontent.com/42275761/4586

[2018-09-21 08:33] robinbakkenes commented on #87
Hi nhassink, Same here. I also was able to add the sensor with a single click, as long as the sensor is reset prior to that.

[2018-09-21 08:34] robinbakkenes commented on #79
Hi Kapusticka,

Yeah, thats possible you can add all devices mentioned in the supported section without using a bridge. GL!

[2018-09-21 12:18] thjdeckers commented on #85
Same for me. I asked a colleague who also owns a Homey to test my Cube on his Homey and he WAS able to pair my Cube without problems.
Then he lent me his Cube to see if that would pair with my Homey and unfortunately that also doesn't pair on my Homey, so the Cube is no success for me until now.
Recently I have seen the exact same problem with a temperature sensor, while other sensors of the same

[2018-09-21 12:26] thjdeckers commented on #85
I'm not sure if it is related to that but I must admit that I have quite a large number of Zigbee nodes in my Homey network. I've been thinking about completely reinstalling it from scratch and registering the Cube as the first Zigbee device to see if that makes any difference but so far didn't have time for that.
One thing I noticed recently when I had to remove ~ 15 nodes that were not respondin

[2018-09-21 13:10] Emile86 commented on #85
I have no problem with cube, it working just fine maybe reacting little bit slow.

[2018-09-21 13:22] robinbakkenes commented on #88
I see the product ID for the older remote switches is different:

![xiaomi2](https://user-images.githubusercontent.com/42275761/45883599-cbbfb600-bdb1-11e8-9452-27e69e517025.JPG)

instead of the old ID lumi.sensor_86sw1lu its now lumi.remote.b186acn01

The device and profile ID are the same though.. Is this something that must be added to the app to be able to work again?

[2018-09-21 17:09] Mustang1966 commented on #88
Mine is also added as unknown device.
![image](https://user-images.githubusercontent.com/43118018/45895532-b6f31a80-bdd1-11e8-91c3-d5a39e40c8d6.png)

[2018-09-21 21:01] TedTolboom commented on #88
What is the product number on the back of the Aqara wireless switch??

[2018-09-22 06:58] robinbakkenes commented on #88
Hi Ted,

Thanks for your reply. Hereby a photo of the backside:
![schermafbeelding 2018-09-22 om 08 57 20](https://user-images.githubusercontent.com/42275761/45914427-88af2280-be45-11e8-8619-99db41320284.png)

WXKG03LM
CMIIT ID: 2016DP1334
CR2032

[2018-09-22 07:20] Mustang1966 opened #89 "Unkown Aqara Wireless switch"
Wireless switch is added as unknown device.

![img_20180922_090102](https://user-images.githubusercontent.com/43118018/45914686-c792a780-be48-11e8-94b9-b02175457e35.jpg)

![screenshot 2018-09-21 at 19 08 02](https://user-images.githubusercontent.com/43118018/45920659-fab85380-bea7-11e8-98c5-5b614c235e9b.png)

[2018-09-22 17:56] TedTolboom commented on #88
Yes, that is correct... correct driver identification is based on all 4 ID's..

Since the product type number is still WXKG03LM, I would assume that the device logic is still the same...

It would help me greatly if you could confirm that the device is working based on the same driver, by following the next steps:
1. download the app from Github (https://github.com/TedTolboom/com.xiaomi-mi-zigbee)

[2018-09-22 17:59] TedTolboom commented on #89
@Mustang1966 can you show which ID's are shown in the device settings > device information?

[2018-09-22 18:03] TedTolboom commented on #89
In #88 you did report to have the same ID's as in the screenshot you added (and removed):
https://user-images.githubusercontent.com/43118018/45895532-b6f31a80-bdd1-11e8-91c3-d5a39e40c8d6.png

But that is not corresponding to this device, correct?
So can you share the device information for this device? Thanks.

[2018-09-22 18:41] Mustang1966 commented on #89
Yes it was. Afterwards i realised that it was a issue about the remote switch.

Updated first post with screenshot,

[2018-09-22 21:15] robinbakkenes commented on #88
Im fairly new to this, can I test this without having to readd all my other xiaomi devices and flows?

[2018-09-23 08:33] robinbakkenes commented on #88
I followed the steps and inserted the line. But when i want to install this new app via the command line is see this error:

D:\Homeystuff\com.xiaomi-mi-zigbee-master>athom app install
┌────────────────────────────────────────────┐
│ Hey developer, we're hiring! View our open │
│ positions at https://go.athom.com/jobs     │
└────────────────────────────────────────────┘
V Pre-processing app...
Err

[2018-09-23 08:46] TedTolboom commented on #88
on line 1679 you are missing a comma at the end....
should be: `"lumi.sensor_86sw1lu",`

[2018-09-23 10:03] TedTolboom commented on #88
Why am I not surprised...

Can you unquote (remove `//`) the debug logging (on line 12, https://github.com/TedTolboom/com.xiaomi-mi-zigbee/blob/master/drivers/sensor_86sw1lu/device.js#L12) and the printNode command (on line 15, https://github.com/TedTolboom/com.xiaomi-mi-zigbee/blob/master/drivers/sensor_86sw1lu/device.js#L15) and save the file.

Can you then run the file in debug mode `athom app

[2018-09-23 10:27] BrokenTable commented on #85
When I firts try te pair I got an 'Something went wrong' error. After that pairing didn't come further then the info page how to pair. Other Aqara devices also couldn't be paired anymore. After a 20 minute PTP pairde resulted again in an 'Something went...' ! haven only 11 Zigbee devices. Also asked on Homey Community but also without luck. Maybe different versions of the Cube?

[2018-09-24 12:03] robinbakkenes commented on #88
Is this often the case with Xiaomi products? :-)

Ill look into this as soon as possible, quite busy on personal level right now. Ill post you the logging as soon as i find the time to check it out.

[2018-09-24 12:48] TedTolboom commented on #88
Strange thing is that they still use the same product number, while reporting different ID's from SW perspective... typically, the different ID's point towards a different implementation on SW side...

So it was a long shot... and again proven to be more difficult to resolve.
Homey's current Zigbee implementation does not provide quite much debug logging (options)...

So let's hope I can debug the

[2018-09-24 12:52] robinbakkenes commented on #88
Ok, ill send you the required info when i have some free time at home. Anyway, are you in the Netherlands? If so i can send you the device so you can work on it? You can send it back to me when fixed. Is that an idea?

[2018-09-24 12:57] TedTolboom commented on #88
Yes, I'm living in the southern part of the Netherlands.
Will get some feedback from my CEO that I'll need to start a warehouse to facilitate these options ;-P

[2018-09-24 15:11] Hilox opened #90 "...so i´m another one with zigbee smart switch :)"
Hi, i also purchased a aqara smart switch and when added to homey with the zigbee-app it shows as an unknown device.
Link to product: https://www.aliexpress.com/item/Xiaomi-Mijia-Aqara-Smart-Wireless-Switch-Smart-Remote-One-Key-Control-Aqara-Intelligent-Application-Home-Security/32868964085.html?spm=a2g0s.9042311.0.0.b5cf4c4d9YL7yN

![image](https://user-images.githubusercontent.com/43545531/45960

[2018-09-24 18:53] robinbakkenes commented on #88
I have run the app with debugging and prindnode on and ported the output with the -> command to a text file. Is that what you meant? the output is added:

[debuglog.txt](https://github.com/TedTolboom/com.xiaomi-mi-zigbee/files/2412456/debuglog.txt)

Or, can i find the printnode output more readable anywhere else?

[2018-09-24 20:56] TedTolboom commented on #88
Thanks this is ok...

You’re using multiple devices with the ‘sensor_86sw1lu’ driver; are these all devices with the same ID’s or what is the mix between ID’s?

[2018-09-25 06:27] robinbakkenes commented on #88
I now have two switches added, one who does work (an old one) and the new one who doesnt. They dont have the same ID, they are the two devices mentioned in the beginning of this  topic, lumi.sensor_86sw1lu and lumi.remote.b186acn01

[2018-09-25 08:57] C0wC0w opened #91 "Single switch does pair Homey but does not trigger any flows"
Hey,

Today I added some Aqara double and single switches to Homey. The double switches work perfectly Unfortunately the single switch does not.

Paring the single switch with Homey works very smooth. After the succeeded pairing process the device information I see is:

![image](https://user-images.githubusercontent.com/43566521/46003613-3e31de00-c0b1-11e8-8504-97bf1630c9e9.png)

Now I want to inc

[2018-09-25 12:03] TedTolboom commented on #91
@C0wC0w can you try with the `Een scene is geactiveerd` trigger card?
So without the `VEROUDERD`; this one will be removed anyway in the next release.

At what distance wrt Homey do you use the device ?
Does it work when the device is at closer distance?

[2018-09-25 12:17] C0wC0w commented on #91
@TedTolboom Are you kidding me!? haha that solved the issue. Thanks for your fast support :)

[2018-09-25 15:42] TedTolboom commented on #88
@robinbakkenes please see: https://community.athom.com/t/xiaomi-aqara-smart-home-zigbee-app-v0-4-1/156/57

[2018-09-25 15:42] TedTolboom commented on #89
@Mustang1966 please see: https://community.athom.com/t/xiaomi-aqara-smart-home-zigbee-app-v0-4-1/156/57

[2018-09-25 15:43] TedTolboom commented on #90
@Hilox that's a confirmed duplicate of #89, I'll close this one and follow-up on #89
Please also see: https://community.athom.com/t/xiaomi-aqara-smart-home-zigbee-app-v0-4-1/156/57

[2018-09-25 15:43] #90 closed

[2018-09-25 15:44] TedTolboom commented on #91
Cool... will close this issue (and actually remove the old card in the next release)

[2018-09-25 15:44] #91 closed

[2018-09-26 19:47] robinbakkenes commented on #88
I can but I'm on holiday right now until mid next week.  I'll contact you when I'm back! I btw also have a dual button switch which I can send

[2018-09-27 16:58] hockeymask opened #92 "request"
Hi!
can you implement the "smart motion sensor" that scenses vibrations?

[2018-09-27 17:12] Emile86 commented on #92
See
https://community.athom.com/t/xiaomi-aqara-smart-home-zigbee-app-v0-4-1/156/69

[2018-09-30 14:11] TedTolboom commented on #92
Will be solved in v0.4.2

[2018-09-30 14:13] TedTolboom commented on #83
@rasssta can you check if v0.4.2 is improving...
you might need to re-include the device or wake-up the device within 30 seconds of an app re-start

[2018-09-30 14:13] TedTolboom commented on #81
Will be solved in v0.4.2

[2018-09-30 14:14] TedTolboom commented on #84
Will be solved in v0.4.2

[2018-09-30 14:14] TedTolboom commented on #79
closing the issue; questions answered

[2018-09-30 14:14] #79 closed

[2018-09-30 14:37] #92 closed

[2018-09-30 17:11] TedTolboom commented on #84
v0.4.2 has been uploaded to the app store, awaiting Athom's approval.
I will close this issue.

[2018-09-30 17:11] #84 closed

[2018-09-30 17:11] TedTolboom commented on #81
v0.4.2 has been uploaded to the app store, awaiting Athom's approval.
I will close this issue.

[2018-09-30 17:11] #81 closed

[2018-09-30 17:38] rasssta commented on #83
Will test as soon as it's available.

[2018-09-30 18:09] TedTolboom commented on #83
Just for reference the Insights data of one of my Aqara Temperature & Humidity sensors based on these settings:
[homey_device_Aqara Temperature & Humidity.measure_temperature.txt](https://github.com/TedTolboom/com.xiaomi-mi-zigbee/files/2431820/homey_device_Aqara.Temperature.Humidity.measure_temperature.txt)

Some remarks:
* Insights only stores data if different to the previous data point; since

[2018-09-30 19:27] YD85 commented on #81
Hi Ted,

That is marvellous, thanks for the hard work!

Groet,
Yves

[2018-09-30 21:20] fantomnotabene opened #94 "lumi.ctrl_neutral2 (QBKG03LM) stops responding after a few times switching on/off"
Plugin v0.4.2 installed via cli.
Sometimes it (switch control via homey) works well, but time to time it unable to turn on or off.
Log: <img width="1086" alt="2018-09-30 23 55 39" src="https://user-images.githubusercontent.com/9576189/46262801-27efac00-c50f-11e8-8067-5ea5755ff8a1.png">
And after several attempts it starts working again.
Other xiaomi-zigbee-devices not affected at all. Working as e

[2018-10-01 13:31] fantomnotabene commented on #94
Restarting the application helps... for the first several minutes.
Then it can fall off again. And then be available again without further action.
BTW, 1.5.12, 6 zigbee-devices in all.

[2018-10-01 19:47] koktaildotcom commented on #65
This is still an issue. Is this related to zigbee rewrite? Is there a possibility to reset the energy measurement?

[2018-10-01 20:36] TedTolboom commented on #94
@fantomnotabene thanks for reporting.
v0.4.2 did not change anything in the implementation of the Aqara Smart Light Wall Switch (L) Double (QBKG03LM), so I don't expect that it is related to the update...

Considering the error code (coming back from the Homey core), it points towards a mesh issue / disturbance.

Some follow-up questions:
At what distance is this switch installed compared to Homey

[2018-10-01 21:47] fantomnotabene commented on #94
@TedTolboom, version just for the sake of clarifying as much detail as possible.
3 meters in line of sight between the switch and Homey. No meshroute between them, direct connection.
Wi-fi router is (approximately) 4 meters in the other direction from Homey. Wi-fi channel 8, Zigbee - 11.

[2018-10-02 08:41] fantomnotabene commented on #94
I used the network scanner on macOS and found that one of my neighbors (apartment building) is using the first wi-fi channel on his router and its signal is not much weaker than one of my own.
<img width="599" alt="2018-10-02 11 29 48" src="https://user-images.githubusercontent.com/9576189/46337807-291bf880-c637-11e8-91d7-21aa191c3111.png">
Is there any solution (without the need to interact with

[2018-10-02 20:54] TedTolboom commented on #88
@robinbakkenes off course enjoy your holiday first..

I would be helped if you could send me the single button version...
the double button version I already received from another user..

[2018-10-03 09:30] TedTolboom commented on #88
Hi Robin,

It's not possible to send a private message through Github.

Can you contact me through the [Athom community forum](https://community.athom.com) or on [Homey Slack community](https://athomcommunity.slack.com/team/tedtolboom)?

Thanks, Ted

[2018-10-03 11:19] robinbakkenes commented on #88
on the athom community forum i dont see any option to send you a private message. The homey slack community im not a member of.

Please contact met via mail on robinbakkenes@gmail.com

[2018-10-04 13:38] rasssta commented on #83
Hi there,

can you elaborate on "wake-up the device"? Just click on it so it flashes blue?

[2018-10-04 14:06] TedTolboom commented on #83
yes, to ensure that the new / updated attribute report settings can be
received by the sensor...

On Thu, Oct 4, 2018 at 3:39 PM rasssta <notifications@github.com> wrote:

[2018-10-04 17:00] rasssta commented on #83
Does not seem to work. Running 0.4.2. I've

 rebooted the Homey to be sure.

* Removed one Aqara T/H/P sensor. Re-added. Still 0.5c intervals.
* I did the restart app followed by wake-up of device within 30 secs with the rest of my Temp/Humidity sensors but they are also showing 0.5c intervals

<img width="1221" alt="screenshot 2018-10-04 at 18 59 56" src="https://user-images.githubusercontent.com

[2018-10-04 20:06] fantomnotabene commented on #94
Okay, I watched for a while what was going on here. So I don't think that the wi-fi/zigbee interference causes this. Problems show themselves with only one device. Closest device to Homey, described above, Aqara Wall Switch.

[2018-10-05 16:08] chinswain opened #97 "Vibration sensor triggering twice"
The Vibration Alarm Turned On\Off cards are triggering twice when any vibration is started\stopped.
Is this expected behavior?

[2018-10-06 11:52] TedTolboom commented on #83
Thanks for the confirmation.

Without re-adding, it will be a bit tricky... you'll need to restart the Xiaomi app (to re-initiate the reportAttributeListener) and keep pressing the device button once every 2-4 seconds..

By keeping the device awake during the initiation of the app, the device will be awake when the new command (with the new settings) is being send by Homey.

[2018-10-08 19:12] TedTolboom commented on #88
Hi @robinbakkenes,
I’ve send you a message on the address provided; did you receive it?

[2018-10-09 22:04] JohanBendz opened #98 "Add a decimal to the temperature reported by the Aqara Temperature and Humidity Sensor (WSDCGQ11LM)"
Hi Ted.
Would it be possible to add a decimal to the temperature reported by the Aqara Temperature and Humidity Sensor (WSDCGQ11LM) ?

The reason for this is that weather services require 2 decimals and several members of the Homey Homies community likes to send their info to the weather services temp sites.

[2018-10-10 07:58] tatarrr95 opened #99 "Aqara temperature sensor Unknown error"
Aqara temperature and humidity sensor works about 6 hours and breaks. Write unknown error.

[2018-10-10 19:03] robinbakkenes commented on #88
Hey Ted,

Yeah sorry, like i said in a private message, i was unable to send the switch due to personal reasons. I will post the switch tomorrow, you' ll have it on Friday :)

[2018-10-10 20:05] jahnkenneth opened #100 "Unable to pair Aqara vibration sensor"
I am unable to pair the Aqara vibration sensor.
When starting the pairing, i press and hold the button on the sensor until the light blinks three times.
The process times out, and I get the message "No ZigBee device has been found."
Have tried three different sensors, a few centimeters from Homey.

Model: DJT11LM

[2018-10-10 20:10] chinswain commented on #100
I had the same issue, try pressing the button repeatedly after holding it in for 5 seconds.

[2018-10-10 20:17] jahnkenneth commented on #100
Thanks @chinswain :-)
I was able to get a step further, now it says "adding device", but it times out after a while - resulting in the same message... :-(

[2018-10-12 09:37] TedTolboom commented on #83
Did the round sensor loose it's Zigbee connection?
What happens if you press the button on the sensor?

On Fri, Oct 12, 2018 at 10:27 AM rasssta <notifications@github.com> wrote:

[2018-10-12 09:44] rasssta commented on #83
It flashes blue twice and the temp was updated to 22.6 on the round and 22.8 on the square.

[2018-10-12 10:19] TedTolboom commented on #83
Curious if it now (re)starts sending updates..

[2018-10-13 15:57] Lansuper commented on #100
Same problem here with Homey 1.5.13-rc.11 and v0.4.2 of the Mi app with two vibration sensors.
Pressing it until LED blinks has no result. Pressing it a couple of times more until it blinks again makes Homey going into pairing mode. But at the end the vibration sensor isn't added.

[2018-10-13 17:55] navasm commented on #99
I also have a temperature and humidity sensor giving an 'Unkown Error'.
After removing and readding I get 'Device has left the network, please remove and repair' after a couple of minutes.
![device left network](https://user-images.githubusercontent.com/12073795/46908340-b73e8b80-cf21-11e8-95ed-f2b82c16cc9a.PNG)

[2018-10-13 21:08] ospectreo opened #101 "Unknown zigbee device"
Trying to add a xiaomi or aqara device I get the same message.
"Unknown zigbee device"

I have two Homey devices
on both the same error for all this devices:

Door/Window sensor (MCCGQ01LM)
Wireless switch (WXKG01LM)
Aqara Window/Door Sensor (MCCGQ11LM)
Temperature/Humidity Sensor (WSDCGQ01LM)
Aqara Human Body Sensor (RTCGQ11LM)

[2018-10-13 21:38] TedTolboom commented on #101
Are all these devices added as unknown Zigbee device??

Can you post a screenshot of the ID’s for each of the unknown devices?

[2018-10-13 21:43] ospectreo commented on #101
What IDs are needed?

[2018-10-13 21:50] TedTolboom commented on #101
The product ID, device ID and profile ID as can be found at devices > [unknown Zigbee device] > settings > device information

[2018-10-13 22:03] TedTolboom commented on #101
And can you indicate which Xiaomi app version you have installed?

[2018-10-13 22:10] ospectreo commented on #101
![ggg 2](https://user-images.githubusercontent.com/4184320/46910490-f84c9500-cf4d-11e8-8b19-7a1ac7d932cf.png)

[2018-10-13 22:17] ospectreo commented on #101
![sss](https://user-images.githubusercontent.com/4184320/46910540-f59e6f80-cf4e-11e8-833f-77512a09e695.png)

[2018-10-13 22:19] ospectreo commented on #101
![xiaomi](https://user-images.githubusercontent.com/4184320/46910552-22528700-cf4f-11e8-94dd-6eb080a75a21.png)

[2018-10-13 22:31] ospectreo commented on #101
![ttt](https://user-images.githubusercontent.com/4184320/46910673-e15b7200-cf50-11e8-8914-d3ee9c577d4e.png)

[2018-10-13 22:40] ospectreo commented on #101
![hhh](https://user-images.githubusercontent.com/4184320/46910724-2338e800-cf52-11e8-8421-dbbbba9e1f95.png)

[2018-10-13 22:45] ospectreo commented on #101
![lll](https://user-images.githubusercontent.com/4184320/46910756-e3becb80-cf52-11e8-8a37-aa86ff8b0a34.png)

[2018-10-13 22:55] ospectreo commented on #101
![ccc](https://user-images.githubusercontent.com/4184320/46910826-2d5be600-cf54-11e8-9ada-2354a55332ef.png)

[2018-10-13 22:55] ospectreo commented on #101
It's enough?

[2018-10-13 23:02] ospectreo commented on #101
![all](https://user-images.githubusercontent.com/4184320/46910875-2ed9de00-cf55-11e8-9697-0b8eed3c57ba.png)

[2018-10-14 06:32] TedTolboom commented on #101
@ospectreo yes, thank you.
What you see if that the product ID is empty for all these devices.

During inclusion, completely handled by Homey's core firmware, the right app and device driver is chosen by matching the combination of product ID, device ID and profile ID to the ID's listed in the different apps.

In this case, for all these devices for some reason the product ID remains empty.

What

[2018-10-14 07:32] TedTolboom commented on #97
@chinswain thanks for reporting... will be fixed in next release

[2018-10-14 09:04] TedTolboom commented on #100
Can you try to, after holding the button for 5 seconds, keep pressing the button every 1-2 seconds until the inclusion is successfull?
The Zigbee inclusion process (from Homey) it quite slow... so in some cases the sensor will fall asleep...

[2018-10-14 09:39] TedTolboom commented on #98
v0.4.3 solving this issue / feature request has been submitted to the app store
I will close this issue for now. Please re-open if not solved in v0.4.3

[2018-10-14 09:39] #98 closed

[2018-10-14 09:39] TedTolboom commented on #97
v0.4.3 solving this issue / feature request has been submitted to the app store
I will close this issue for now. Please re-open if not solved in v0.4.3

[2018-10-14 09:39] #97 closed

[2018-10-14 09:40] TedTolboom commented on #89
v0.4.3 solving this issue / feature request has been submitted to the app store
I will close this issue for now. Please re-open if not solved in v0.4.3

[2018-10-14 09:40] TedTolboom commented on #89
v0.4.3 solving this issue / feature request has been submitted to the app store
I will close this issue for now. Please re-open if not solved in v0.4.3

[2018-10-14 09:40] #89 closed

[2018-10-14 09:40] TedTolboom commented on #88
v0.4.3 solving this issue / feature request has been submitted to the app store
I will close this issue for now. Please re-open if not solved in v0.4.3

[2018-10-14 09:40] #88 closed

[2018-10-14 09:41] TedTolboom commented on #87
v0.4.3 solving this issue / feature request has been submitted to the app store
I will close this issue for now. Please re-open if not solved in v0.4.3

[2018-10-14 09:41] #87 closed

[2018-10-14 16:44] chinswain commented on #97
Confirmed fixed!

[2018-10-15 14:29] KarasN opened #104 "Cube - Incorrectly determined side during rotation."
Cube incorrectly determined side during rotation.
The state remains after the previous action.

[2018-10-15 20:14] #104 closed

[2018-10-16 18:18] Reemster commented on #100
I had the same problem. If you indeed press 1/2sec everytime homey inclusion works. Maybe some extra information about this by the add screen in Homey? (i think you can close this isseu)

[2018-10-16 19:29] jahnkenneth commented on #100
Got it paired now :-)

[2018-10-18 22:49] Bhitv opened #105 "Xiaomi Aquara WXKG02LM scene allows only 1x click"
Hello Ted

I connected the double switch Xiaomi Aquara WXKG02LM to Homey.
The pairing went fine.
However, the scene in a flow allows only one click.
I have no choice to choose more than 1 click
I do have the choice of left, right button and both.
Switch disconnected and reconnected gives the same result.

O yes, and the device specifically in settings is blank, so I can not change anything

Thanks

[2018-10-19 06:09] TedTolboom commented on #105
@Bhitv please check the device capabilities at: https://github.com/TedTolboom/com.xiaomi-mi-zigbee/blob/master/README.md

For this device, if it has the Zigbee productID `Sensor.86sw2Un` this is the expected behavior / this device does not support any other options.

If this device has the Zigbee productID `remote.b286acn01` more options are supported.

[2018-10-19 10:57] Bhitv commented on #105
You're right, it's the Sensor.86sw2Un.
I bought it last week and thought I would have the 2018 version.
I will ask the supplier how it is.
Thanks for your help.
Bas

[2018-10-19 18:51] TedTolboom commented on #105
@Bhitv I would also have the same assumption.
I would contact the seller, but keep in mind, from the outside it is not possible to distinguish the different switches; they both share the same product number.

You could ask the question on the forum (app’s topic) at which seller they bought their switches

[2018-10-19 19:01] Bhitv commented on #105
They are beautiful switches, and I can use them for my purpose.
But thanks for the advice, it will certainly do if I want to have more of it.
Bas

[2018-10-22 17:14] Svensson78 opened #106 "Cannot connect Aqara Cube MFKZQ01LM"
Are there more people who cannot connect the Cube?
Sadly also not on the new version.

Adding takes about 10 minutes but then it is an unknown ZigBee device..

<img width="571" alt="schermafbeelding 2018-10-22 om 19 07 45" src="https://user-images.githubusercontent.com/44071424/47307155-9e735b80-d62e-11e8-9c8e-4252b56fc340.png">
<img width="563" alt="schermafbeelding 2018-10-22 om 19 13 31" src="h

[2018-10-25 21:10] Svensson78 commented on #101
I tried this with my Cube but sadly still " unknown device"

Any other things to try?

[2018-10-29 16:53] Svensson78 commented on #106
no one?

[2018-10-29 17:09] chinswain commented on #106
Mine was a nightmare to pair, I ended up pressing the button repeatedly which seemed to do the trick. Before that I tried multiple times to pair the standard way (hold 5 seconds and release), has been fine since though.

[2018-10-29 17:31] Svensson78 commented on #106
Thnx tried this but also without effect! Did it takes you also about 8 minutes to pair? Or is the sensor broke maybe.. Delete works fine grrrrr

[2018-10-29 19:44] TedTolboom commented on #106
@Svensson78 Since you followed-up all known advices and it still shows up as unknown Zigbee device, it's likely the same issue as https://github.com/TedTolboom/com.xiaomi-mi-zigbee/issues/101 during inclusion the `productID` is not correctly captured during inclusion... and therefore the device is not recognized...

Since the inclusion is handled by Homey's core (outside the app's core), I can't i

[2018-10-29 19:45] TedTolboom commented on #105
accidentally re-opened I assume

[2018-10-29 19:45] #105 closed

[2018-10-29 19:46] TedTolboom commented on #101
@ospectreo can you contribute to https://github.com/athombv/homey/issues/2706 to make Athom aware more people are suffering from this issue?

Thanks.

[2018-10-29 19:49] TedTolboom commented on #100
@jahnkenneth thanks for the feedback. I'll see if I can update the pairing instructions / FAQ section of the community topic.

I'll close the issue, since resolved

[2018-10-29 19:49] #100 closed

[2018-10-29 19:53] TedTolboom commented on #99
Can you (both) describe the situation / issue in a bit more detail?
Distance of the sensor to Homey? Other Zigbee routing devices that are providing a mesh network? etc

[2018-10-29 19:54] TedTolboom commented on #83
What is the current situation? Did the sensor start reporting again?

[2018-10-29 20:30] ospectreo commented on #101
I still have not solved this problem there was no time to check

[2018-10-30 11:08] rasssta commented on #83
The round one is still using "big" celsius intervals or very long time between updates, whereas the square reports 0.1 intervals with short intervals. I have 1 round and 1 square laying next to each other. I'll attach graphs.

Btw. How do I configure number of decimals in 0.4.3?

[2018-10-30 11:09] rasssta commented on #83
Round:
<img width="1208" alt="screenshot 2018-10-30 at 12 08 44" src="https://user-images.githubusercontent.com/4455235/47714222-98880680-dc3c-11e8-9fed-a7f6aa15cfe0.png">
Square:
<img width="1208" alt="screenshot 2018-10-30 at 12 08 54" src="https://user-images.githubusercontent.com/4455235/47714223-98880680-dc3c-11e8-8797-b17a2d01c022.png">

[2018-10-30 18:36] tatarrr95 commented on #99
The problem has disappeared after updating the plugin

[2018-10-31 06:55] navasm commented on #99
The error with devices leaving are now gone. But I'm still having issues with sensors in a particular room (bathroom). The sensor works for about 3 days then it just stops reporting (temperature, humidity & pressure). There are no errors in Homey for this device! Another temperature sensor in a room adjacent to the bathroom sends data to Homey without any issues. These sensors are located on the f

[2018-11-11 05:46] LyoshaDovolen opened #107 "Add support for new Aqara bulb zigbee version"
[aliexpress.com/item/mi-aqara-zigbee/32956347602.html](https://www.aliexpress.com/item/Original-xiaomi-mijia-aqara-bulb-zigbee-version-work-with-mi-home-app-and-for-apple-homekit/32956347602.html)

[2018-11-27 19:50] ospectreo commented on #101
Today I updated homey to the latest version (1.5.13) but the problem did not disappear
Still can not connect all my xiaomi devices
Although they connect to the xiaomi hub without problems in one second

[2018-11-27 19:57] ospectreo commented on #101
And I have two homey
and on both the same problem with xiaomi
<img width="401" alt="2018-11-27 21 51 50" src="https://user-images.githubusercontent.com/4184320/49107835-6693af80-f28f-11e8-8a49-114123010199.png">

[2018-12-01 12:50] rowins opened #108 "I have only luminance change by motion detection. Human body sensor."
Homey version: 1.5.13
Xiaomi aquara version: 0.4.3

It's not a big issue, but I was wondering if i'm the only one with this. My human body sensor change only the luminance when he detects motion. Is it possible for my sensor to actively change my luminance or at some time or when a flow triggers the sensor looks at what is the luminance at that moment.

Sorry for my bad English!

Thanks

[2018-12-03 05:36] rowins commented on #108
I have already the answer.
Page 12, question. Page 13, answer.
https://forum.athom.com/discussion/4120/app-xiaomi-mi-zigbee-main-discussion-topic-v0-4-1/p12

[2018-12-03 05:36] #108 closed

[2018-12-04 15:31] jtebbens commented on #101
Yeah also face exact same issue. Unknown Zigbee Device upon adding Xiaomi sensors. These worked before without issue. I had to remove them and re-add and now they show as Unknown.....funny. Restart and p2p done without result.

[2018-12-07 08:47] Mustang1966 opened #109 "Switch doesn't activate flow."
The Aqara switch (WXKG11LM) didn't work anymore on 2.0 RC1. I removed it and added again.

When i create a flow with button pressed then ... does not trigger the flow.

[2018-12-07 22:40] Thenorneron commented on #108
I have same issue. I can't open forum link. Can you tell me the solution for measuring luminance? Or maybe copy paste it? Thanks!

[2018-12-08 10:02] rowins commented on #108
Yeah ofcourse.

The question: Do you know if it's a device behaviour or app behaviour to only update luminance when motion is detected?

Answer of developer:
 yes this is a device limitation. I did not find a solution / option yet to get independent luminance reports.

So there is no solution yet :(

[2018-12-09 22:16] mhoogenbosch opened #110 "Reports low battery on 2.0.0 rc"
In firmware 1.5 there was no power or battery status available on the temperature sensor. Now it reports low battery, this is very annoying when connected with HomeKit.

It also does not report temperature information to HomeKit, don’t know whether this is a app problem or homey itself.

[2018-12-11 10:41] JustThe2ofUs commented on #110
After checking w/ Homey Support I can say It’s the app. Same here.

[2018-12-11 12:51] TedTolboom commented on #110
Can you share a screenshot how this is shown in the v2 app?
In the current App store version of the Xiaomi Zigbee app, the battery status is not reported for any device; also not for the temperature sensor; as indicated in the readme:

In Homey SW <1.5.13, due to the lack of a battery state: the battery icon was greyed out

I guess in the V2 this is now shown as a low battery status; which is diff

[2018-12-11 13:02] mhoogenbosch commented on #110
Hi,

Ofcourse I can send an screenshot. The reference number of Homey Support ticket is 9617.

Screenshot 1 is the screenshot of the sensors device, this is the only thing that shows regarding to the battery:

[cid:79bbaedd-b523-4d15-95ee-35292aa74e80]

Screenshot 2 shows how this is shown inside HomeKit:

[cid:9ef5ab64-5486-464a-948b-46d5c08ecd15]

As you can see, all sensors are with exclamation

[2018-12-11 14:31] TedTolboom commented on #110
@mhoogenbosch thanks for reporting: briefly discussed with Athom, and this is a change in the apps-sdk.

Will be followed-up in: https://github.com/athombv/homey-apps-sdk-issues/issues/8

I'm testing the battery reporting at this moment.

But also here, before a battery report is received, the alarm will first be triggered. So that is another reason to get this behavior solved.

[2018-12-14 15:21] FrankBakermans commented on #109
I have the same issue with the aqara wireless switch (Gyro). While you are looking into this issue, can you maybe add some new features like double click and long press?

Cheers, Frank

[2018-12-14 15:44] rvliege commented on #109
Seems to be the case for me although a v1 of the switch doesn't do anything. And 1 of my 2 v2 switches doesn't get the long press.

[2018-12-14 18:37] TedTolboom commented on #110
Fixed in app version 234
Also HomeKit should now show false state.

I will close this issue; if the problem still persists, please re-open

[2018-12-14 18:37] #110 closed

[2018-12-14 18:39] TedTolboom commented on #109
Announced to be fixed in 2.0.0-rc.4.
Once I verified that it is fixed, I will close this issue

[2018-12-17 14:27] mhoogenbosch opened #111 "Homey iPhone app crashes when changing temperature offset"
When trying to change the offset of the temperature the iPhone honey app crashes. Some other settings are not readable but work.

[2018-12-17 21:39] psy0rz opened #112 "Homey 2.0 rc4: Vibration sensor tilt angles not updating"
When i view the alarm and tilt status page of the device, the numbers aren't updating.

The alarm boolean have no problems.

The https://developer.athom.com/tools/devices page updates all values correctly.

[2018-12-17 21:41] psy0rz opened #113 "Homey 2.0: Show temperature values overview screen."
It would be nice if the temp and humidity is shown in the overview screen of the homey app. Now you have to long-click to see the values.

[2018-12-17 21:44] psy0rz opened #114 "Homey 2.0 rc4: Vibration sensor advanced settings crash app."
When i try to reset the tilt angle or other advanced settings, the homey app crashes.

[2018-12-17 22:50] TedTolboom commented on #113
Can you clarify what you mean (where exactly) with showing the data on the overview screen of the Homey app?

[2018-12-17 22:53] TedTolboom commented on #114
This is a Homey SW issue; for version 2.0.0 or corresponding app.

There is nothing I can change / do about this (known) issue.

Please report to Athom through the proposed channel as described on firmware.athom.com

I will close this issue for now.
If Athom is redirecting you back to the community app developer, please let me know.

[2018-12-17 22:53] #114 closed

[2018-12-18 06:03] TedTolboom commented on #111
Known issue, verified with Athom, with 2.0.0-rc.4.
Any Z-wave or Zigbee app have this issue; including the Fibaro app.

I can’t fix this issue.
Will close this issue for now

[2018-12-18 06:03] #111 closed

[2018-12-18 07:41] mhoogenbosch commented on #113
I think he means on the devices screen.
![tempsensor](https://user-images.githubusercontent.com/36899598/50138942-80c61980-02a0-11e9-8cc3-a5401474fd82.jpeg)

Something like this. Don't know if that is something an App can arrange. Same goes for pushing through the values to HomeKit. Currently that doesn't happen (which is different behaviour compared to 1.5).

[2018-12-18 07:47] mhoogenbosch opened #115 "Advanced settings not readable"
Don't know if this is a setting controlled by the app but the advanced settings are not readable in v2.0.0.

See screenshot of what I mean:

![advancedsettings](https://user-images.githubusercontent.com/36899598/50139281-83753e80-02a1-11e9-99ff-a8c87df0ce99.jpeg)

[2018-12-18 12:20] psy0rz commented on #113
Yeah thats exactly what i mean.

[2018-12-18 19:30] TedTolboom commented on #115
Will be fixed in next 2.0.0-rc

[2018-12-22 15:32] TedTolboom commented on #109
@brtws it is not completely solved in rc8.
There is still a bug with re-using flows and changing the triggers. Try to create a new flow for this device and see if it is working.

Which device are we talking about?

[2018-12-22 16:41] brtwrs commented on #109
I just created a new flow with the switch (WXKG11LM) as a trigger.. still nothing

[2018-12-23 22:56] Ruugy commented on #51
Is there something new about the disconnecting Temperature Sensors?

[2018-12-24 19:53] robertb89 opened #116 "Door window sensor"
Can't read the battery status of my sensors?

[2018-12-25 11:41] JustThe2ofUs commented on #116
The Aqara sensors don’t work at all w/ the latest version of the v2 beta here.

[2018-12-26 15:15] robertb89 commented on #116
@justThe2ofUs yes it works... And the battery status will be updated very soon.

[2018-12-26 15:15] #116 closed

[2018-12-26 21:12] JustThe2ofUs opened #117 "Cannot find Aqara Motion Sensor and Occupancy Sensor for pairing"
Both devices can be selected to Add; unfortunately Homey doesn’t find them then, though pairing routine on the devices itself get started by the 3 sec push of the buttons. ?

[2018-12-28 16:04] giocoo opened #118 "Xiaomi hunan body sensor"
Update:
I restarted Homey for second time and now it works. I  also kept pushing the button more frequently than before. Maybe that’s why it worked. Problem solved.

Homey 2.0. What ever I try, i can’t setup a connection. Homey seems to react because the text “add device” appears, but after that nothing happenes. I keep pushing the connection button during pairing. What else can I do?

[2018-12-28 16:11] JustThe2ofUs commented on #118
Sounds like my issue as well 😁🤷‍♂️🤷‍♂️

[2018-12-28 17:56] #118 closed

[2018-12-28 19:10] TedTolboom commented on #118
@giocoo thanks for the update; good to hear it worked.

[2018-12-28 19:17] TedTolboom commented on #117
@justthe2ofus can you try the following.

* Restart Homey,
* wait at least 30 minutes after restart for all apps to have initialized
* check at developer tools (https://developer.athom.com/tools/zigbee that the Zigbee network is up
* try to include the device at close proximity of Homey
* follow the instructions how to activate the inclusion mode, and once the inclusion process starts, keep the de

[2018-12-30 15:09] giocoo commented on #118
Hi Ted,

Is it true that I can’t select tags at the temperature sensor of xiaomi zigbee? I want to create a flow that tells me what the current temperature is when i ask for that.

Kind regards,

Giovanni

Verstuurd vanaf mijn iPad

Op 28 dec. 2018 om 20:10 heeft dT <notifications@github.com<mailto:notifications@github.com>> het volgende geschreven:

@giocoo<https://eur01.safelinks.protection.outl

[2018-12-31 20:44] glennhmjoat opened #119 "text too long to read on buttons"
On Honey 2.0.0.rc9 with the temperature and humidity sensor.
In the advanced setting for it, there are two options, the details of what they are is hidden off the end of the buttons
![report temp](https://user-images.githubusercontent.com/45816076/50567478-2ce02800-0daa-11e9-9d56-2002e1bfc8fc.jpg)
![advanced](https://user-images.githubusercontent.com/45816076/50567488-51d49b00-0daa-11e9-9379-56287

[2019-01-01 09:11] TedTolboom commented on #119
Duplicate of https://github.com/TedTolboom/com.xiaomi-mi-zigbee/issues/115

[2019-01-01 09:11] #119 closed

[2019-01-01 09:13] TedTolboom commented on #115
This is an issue within the 2.0.0 app.

I've created an issue in the homey-apps-sdk, to get it resolved:
https://github.com/athombv/homey-apps-sdk-issues/issues/26

For now, I will not change the Xiaomi app; Athom will need to solve this in the 2.0.0 app.

[2019-01-01 09:16] TedTolboom commented on #113
I can't solve this in the app (alone). Athom limited this circle only to the thermostat devices.

Athom will need to solve this feature request in the 2.0.0 app.
Leading issue: https://github.com/athombv/homey-apps-sdk-issues/issues/17

[2019-01-01 09:18] TedTolboom commented on #109
@brtwrs It should be resolved for rc.9.

Can you confirm?

[2019-01-01 17:06] brtwrs commented on #109
Yes it works again! Thanks Ted for your support and time:)

[2019-01-03 11:13] JustThe2ofUs commented on #117
Hi Ted, thx for taking care.
I feel like Athom should consider starting an AppStore where you can buy Apps like yours, as the effort you dev-guys make is incredible and should be more valued - but that’s OT.

I tried your tips several times but unfortunately it doesn’t work out. I am using the door / window sensors and temperature sensors of Aqara w/ ZigBee; though battery level isn’t displayed th

[2019-01-07 15:11] hive commented on #112
Im sure you are aware - but just in case, this is still occuring in v2-rc11.

Would it perhaps help if myself/others also submitted a ticket to Athom support and if so - what is the actual issue we should describe so it doesnt get kicked back to you?

Thanks

[2019-01-16 06:54] jwikman commented on #25
Does FW2.0 support the complete Zigbee implementation? Maybe this is solvable now?

[2019-01-16 11:42] vandernorth commented on #106
Tested on Homey 2.0.0, pairing with any Xiaomi device results in `status.invalid_setting_type`.
(Tested with motion sensor, door sensor, cube, double switch)

[2019-01-16 16:39] JustThe2ofUs commented on #106
How many of the body sensors did you install? More than 3??
Here, 3 is the limit but door sensors and temp/humi sensors work fine.

[2019-01-21 14:53] gizmodok commented on #27
Hi, Homey developers have implemented version 2.0 of there software is there possibility that " ZigBee Intrusion Alarm Zones" are there implemented?

[2019-01-21 15:05] chinswain commented on #27
Not yet, hopefully Athom will make the required changes soon.

[2019-01-22 07:05] YD85 opened #120 "Slow response & no battery info"
Motion sensors are very slow to respond. So when I’m already way past the sensor lights go on.
Also there is no battery info for any device.

[2019-01-22 07:05] YD85 commented on #120
Sorry: 50ce2181-2b5c-406a-82ac-e292e841cfe6

Thanks for looking into this

[2019-01-22 12:42] Egberjo opened #121 "Can’t change humidity value in flow"
@TedTolboom. I want to make a flow to switch off my bathroom fan when the humidity level has reached the value of 40% but I am not able to change the example level of 35%.
How can I resolve this?

[2019-01-24 02:38] hive opened #122 "[Feature] Vibration Sensor when {any} action"
Unless I am doing something wrong at the moment in order to trigger a flow when something happen to a vibration sensor it requires multiple flows to be created, each with a separate 'when'.

It would be awesome if the vibration sensor had a when card similar to the cube "Cube Motion" card. That triggers if there i vibration or the tilt changes or the device is dropped etc. (with a tag letting us k

[2019-01-24 14:16] hive commented on #122
Sorry,

Yes that is likely exactly what I want,  I think I must have gotten confused by the name.

Thank you!

[2019-01-24 14:16] #122 closed

[2019-01-24 20:16] jasiek commented on #100
For a while, I couldn't figure out how to pair them - it is as easy as holding down the button until you see 3 or 4 blinks and leaving the sensor to pair. It will pair within half a minute or so.

[2019-01-25 12:43] damianxd opened #123 "Error while starting"
The aqara app doesn't start and it gives this error:
62aa2407-72d1-4062-af36-2f8bc0766f82

What should I do?

[2019-01-29 09:09] jtebbens opened #125 "Latest version v0.5.0 Xiaomi Zigbee shows strange temperature"
As of latest update my freezer jumps from -18c to -5c which is strange (closed door),
![image](https://user-images.githubusercontent.com/18558267/51896980-eb916700-23ad-11e9-92ff-ca2caba3f03e.png)

[2019-01-29 10:36] volodeev commented on #125
I have the same display (
![image](https://user-images.githubusercontent.com/46497923/51899036-01b21e00-23d4-11e9-808c-95237d6248ee.png)
![image](https://user-images.githubusercontent.com/46497923/51902337-979d7700-23db-11e9-905d-19c3ed3142d9.png)

[2019-01-29 11:04] rasssta commented on #125
![image](https://user-images.githubusercontent.com/4455235/51904066-02d85080-23be-11e9-9855-19974a24946c.png)

Same here. The peak at 23c is when I took the sensor out of the freezer for a while to see its behaviour out "in the wild".

[2019-01-29 13:06] Dutchprop commented on #125
Same here:
![wine2](https://user-images.githubusercontent.com/42809610/51910274-07f1cb80-23cf-11e9-97d6-6e5cd6fe7033.PNG)

[2019-01-29 13:49] TedTolboom commented on #125
Guys,

Likely the temperature reported by the lifeline report is incorrectly parsed.
Can you do me a favor since not all graphs are clearly readable?

Post the correct temperature and the incorrect temperature values. And verify what the interval is between the incorrect values.

Thanks, Ted

[2019-01-29 14:12] Dutchprop commented on #125
Hi Ted, hopefully the below helps:
![wine3](https://user-images.githubusercontent.com/42809610/51914081-4b046c80-23d8-11e9-9a44-2dabadea6065.jpg)

[2019-01-29 16:50] rasssta commented on #125
I've attached a CSV export from Homey Insights (rename to .csv). Everything warmer than -15 is inaccurate.

Ignore the values between: 2019-01-28   23:05:00	and  2019-01-29   00:35:00

[Xiaomi T_H - Freezer — Temperature (Last 24 Hours).txt](https://github.com/TedTolboom/com.xiaomi-mi-zigbee/files/2808678/Xiaomi.T_H.-.Freezer.Temperature.Last.24.Hours.txt)

[2019-01-29 20:47] TedTolboom commented on #125
Hmmm... looks like Athom did not (properly) solve this issue: https://github.com/athombv/homey/issues/2165#issuecomment-370257546

So the data is provided to the device driver is UTF-8 encoded...
I don't think it will be possible to correctly decode it again..

I'll check and other wise disable this reporting again (except for the battery reporting)

[2019-01-30 07:47] Dutchprop commented on #125
It appears to be getting worse, the same 17,89 degrees is showing most of the time now:
<img width="1187" alt="schermafbeelding 2019-01-30 om 08 45 13" src="https://user-images.githubusercontent.com/42809610/51966021-a7649c00-246b-11e9-907a-fb823e599a66.png">

[2019-01-30 16:59] volodeev commented on #125
@TedTolboom
This is observed not only in reports. Changes are visible in the device and in tags!
![image](https://user-images.githubusercontent.com/46497923/51998307-37d9c580-24da-11e9-84e2-ed4e1d550ebc.png)

[2019-01-30 20:51] TedTolboom commented on #125
@volodeev I would certainly hope so, otherwise more would need to be fixed.
The reports I'm mentioning are the device attribute reports; once received the device driver will update the capability, which then will update the value shown in the UI and trigger the corresponding triggercards.

I just disabled the temperature and humidity reporting from the lifeline reports in [version 0.5.1](https://g

[2019-01-30 20:51] #125 closed

[2019-01-30 21:13] TedTolboom commented on #115
Has been fixed in the 2.0.0 app;
in a next update I'll shorten the text a bit further for readability.

[2019-01-30 21:13] #115 closed

[2019-01-30 21:15] TedTolboom commented on #113
As mentioned above, I can't fullfill this request without Athom making a change.
Please contact Athom support to change their mind.

I will close this issue for now.

[2019-01-30 21:15] #113 closed

[2019-01-30 21:16] TedTolboom commented on #112
Can you confirm that this issue has been resolved in the latest releases?

[2019-01-30 21:17] TedTolboom commented on #109
I will close this issue; original issue has been resolved.

@jeroenspruijt if you still perceive an issue, please report it as seperate

[2019-01-30 21:17] #109 closed

[2019-01-30 21:22] TedTolboom commented on #121
@Egberjo that is an issue of the new Next Gen app...
As app developer I can only provide the initial example value. The Next Gen app should offer the option to change is..

Please contact Athom support to raise this issue, ok?

I'll close this issue (out of my control).

[2019-01-30 21:22] #121 closed

[2019-01-31 12:54] hive commented on #112
I can confirm that the tilt alarm is now working correctly (tested with 0.5.1)

Thank you

[2019-02-01 10:00] rasssta commented on #83
Works much better in Homey 2.0! I'll close this one now.

[2019-02-01 15:29] PeterEIER opened #127 "[Feature Request] Invert signal option for Aquara Door and Window Sensor"
Add the option, in advanced settings, to invert the alarm signal like this:

**Not inverted**
open = alarm
closed = no alarm

**Inverted**
open = no alarm
closed = alarm

**Reasoning:**
I use these door/window sensors connected to a switch (which is normally open). If it would be possible to invert the signal my door/window sensor would not always show the alarm state but only when actually the bu

[2019-02-01 15:59] psy0rz commented on #113
thanks!

[2019-02-01 15:59] psy0rz commented on #112
can also confirm it works! thanks for the effort!

[2019-02-01 15:59] #112 closed

[2019-02-01 19:30] glennhmjoat opened #128 "Links on Homey apps page not working"
Some of the product links on the Athom app website dont work

anything with xiaomi-mi.com fail to load

and this link fails too
https://apps.athom.com/app/com.xiaomi-mi-zigbee
current working link is https://apps.athom.com/app/com.xiaomi-mi

the Aqara links all seem fine

![image](https://user-images.githubusercontent.com/45816076/52144974-a37f8680-26c4-11e9-8202-838af1bfc95f.png)

[2019-02-01 21:36] bulubash opened #129 "Some devices stopped connecting after update to version 2.0"
After the update to version 2.0, the following devices stopped connecting:
-Aqara Smart Light Wall Switch (L) Single (QBKG04LM) - Before the update, the device was connected and worked fine
-Wireless switch WXKG01LM - previously connected devices work normally, new devices cannot be connected
-Aqara Wireless Remote Switch Single - WXKG02LM - device is connected but there are no settings inside, th

[2019-02-01 21:43] bulubash commented on #129
Also, it will be good if next device will be supported - Aqara Water Leak Sensor User SJCGQ11LM
Thanks.

[2019-02-04 11:09] bliekp opened #131 "Please add support for flood sensor"
Please add support for the flood sensor.

€ 11,13  58％ Off | 2018 Newest Xiaomi Mijia Aqara Water Immersing Sensor Flood Water Leak Detector for Home Remote Alarm Security Soaking Sensor
https://s.click.aliexpress.com/e/cqmZYxIs

[2019-02-04 11:12] chinswain commented on #131
https://github.com/TedTolboom/com.xiaomi-mi-zigbee/issues/26

[2019-02-04 11:36] bliekp commented on #26
Ah, thanks for the reference to this one. Sorry I missed this one.
How unfortunate that Athom is -once again- very slow in fixing things... I should have checked before I bought this thing though...

[2019-02-06 21:45] soerensteen commented on #117
I am experiencing the same issue. No luck pairing a new Aqara Motion Sensor. Tried PTP, restart etc.

[2019-02-06 23:07] JustThe2ofUs commented on #117
Hi, now all Vibration sensors and movement sensors are paired and do work as long as Diva Misses Homey has a good day...

Ensure you’re running the latest version of Homey firmware and the Xiaomi App.
Then be close at Homey (a couple of metres in same room works fine) and start the pairing via the App.
Then home down the button on the device until the blue light starts flashing (it will flash not

[2019-02-07 06:56] YD85 opened #132 "None of the sensors are werking after upgrade"
Sensors are Not respondent.
Can you please check?
ec280f22-cad1-49fa-a32b-31b5d318db48

[2019-02-10 11:43] TedTolboom commented on #128
Thanks for reporting; will be corrected in v0.5.3

[2019-02-10 11:43] #128 closed

[2019-02-10 11:44] TedTolboom commented on #123
Can you help me with some more information?

For reference, the crash report received:

[2019-02-10 11:45] TedTolboom commented on #120
@YD85 I didn't receive a crash log with that ID

[2019-02-10 11:46] TedTolboom commented on #107
Will be added in v0.5.3

[2019-02-10 11:46] #107 closed

[2019-02-10 11:46] TedTolboom commented on #131
Duplicate of #26

[2019-02-10 11:46] #131 closed

[2019-02-15 22:57] Bhitv opened #135 "Problem with Aqara Wireless Remote Switch Double WXKGO2LM"
Hello Ted
With the upgrade to version 2.0, two double zigbee switches from Xiaomi / Aqara WXKGO2LM were not included in the upgrade.
There is an exclamation mark and when I click them I get the message "unknown problem"
Now I want to delete them and then link them again with Homey.
However Homey sees the switches no longer, when I delete it, I get the message: "status.could_not_find_zigbee_shepher

[2019-02-16 01:31] Kronan opened #136 "Xiaomi bedside lamp support"
Really would like to see support for the xiaomi bedside lamp ,<3

[2019-02-16 06:49] TedTolboom commented on #136
Hi @Kronan,
I think the bedside lamp is already supported by the Xiaomi Mi Home app: https://apps.athom.com/app/com.xiaomi-miio

My app is only focusing on the Zigbee based Xiaomi / Aqara devices. So from that perspective I will not add support for this device to my app.

[2019-02-16 06:49] #136 closed

[2019-02-22 20:24] Moskvitch commented on #135
HI, same problem here. One of the Double WIreless Rocker switches got the dreaded red triangle with an exclamation mark.

After upgrading to v2 a while ago I had to reinstall the app to get rid of old Aqara Zigbee stuff and pair it again, because I could not delete the, individually.

Then everything had been working fine and then yesterday, one (not all) of the switches became unresponsive.  When

[2019-02-22 20:37] Moskvitch commented on #135
And now I tried to add the switch again but after a couple of minutes of "interviewing clusters", etc I got the **duplicate device** error :( :( :(

[2019-02-22 20:59] Bhitv commented on #135
We do not get an answer to this problem, probably not important enough.
I have already mentioned 2 other problems after transferring.
You will receive a notification that it is being forwarded to the technical department, and after that you will not hear anything.
I am still having major problems.

[2019-02-22 21:09] Moskvitch commented on #135
Yeah, but this Zigbee app is not developed by Athom, but by a private individual working in his free  time on pure inspiration and maybe some donations.

Athom should really create an App Store with paid apps so we could expect stuff after paying for it.  And in our particular case, given the growing demand for integrating cheap and quality-made Xiaomi smartphone devices, Athom should just make hi

[2019-02-22 21:19] Bhitv commented on #135
Yes all well and good, but for the version change all Zigbee devices worked fine, after that half of the devices no longer work, and can not be reinstalled, because Homey says they are already present.
They can not be wiped out, worthless.
Ted is the contact person for this app.
So I can expect an answer at least after 7 days of waiting, even if he does not know the solution.

[2019-02-22 21:28] Moskvitch commented on #135
I understand - and as you can see above - share your frustration.  But Ted is the guy that wrote this plugin (they very confusingly keep calling these "apps"), not the contact person for Athom B.V.  Just a guy that does coding.  That's the flip side of buying a EUR299 device from a company that evolved from a kickstarter project vs a major smarthome device manufacturer.  But!  In all honesty, I li

[2019-02-22 21:36] Bhitv commented on #135
I know, Ted Tolboom is a good guy, I've had contact with him with problems before.
But it is my wife who keeps on acid when the light does not work again, or when she can not read the outside temperature anymore.

But I have installed a few new switches, only the old ones remain in Homey.

We are waiting, that is the only thing you can do now

[2019-02-22 21:44] Moskvitch commented on #135
Just tell her "Honey, they say if there's a problem with a _home device_, I should _remove_ it and _re-pair_.  What do you think of that approach?" :):):)

Sorry, just couldn't help it :):):)

PS Plus, as we know, it's all a big lie, you can't actually remove it :):):)

This is going waaaaaay off-topic and borderline offensive, so my apologies ! :)

[2019-02-22 22:06] Moskvitch commented on #135
Ha! It worked.  Just tried again.  First I got a new screen

Removing device...
If the device is not removed automatically try enabling its 'pair' mode.

After a while I got another screen:

status.remove_device_timeout

If you want to remove the device even though it could not be found, click the button 'Remove'.

Note: this might require you to reset the device before it can be added with Homey

[2019-02-22 22:30] Bhitv commented on #135
Thanks, I will try it

[2019-02-23 23:17] Bhitv commented on #135
Yes, I finally succeeded.
But had to link it first, got the error message "Is already present".
Then I could remove it manually.
Now I have to solve the rest of the zigbee problems.
Long live the upgrade to version 2.0

Thanks for the tip

[2019-02-24 20:03] Moskvitch commented on #135
Now my other Wireless Double Rocker died on me.  Same exact symptoms as above.  Now we know how to re-add now, and it’snice that they are taking turns and not dying all at once, but perhaps there’s something to look into?  I have three, and this is number two.

[2019-03-04 08:15] rasssta commented on #83
Not sure why, but the round one is still using large intervals :(

[2019-03-04 08:17] rasssta commented on #83
![image](https://user-images.githubusercontent.com/4455235/53719418-452dfb00-3e5e-11e9-9fd5-f14058523995.png)

[2019-03-09 20:27] stefanprotzman opened #138 "Timeout adding a device"
Since the update to homey 2.0.4. and Xiaomi mi home zigbee app to 0.5.4. im not able tot add a human body sensor. I've tried different ways, but nothing will help. I released the button on the sensor on many ways after different times, pressed IT after every 2 seconds.

Are there more people having the same issue?

Whats the solution?

[2019-03-10 13:05] Roppieee opened #139 "Vibration sensor"
Hi, i have 2 vibration sendors and they are not reporting the fibration level. It seems like the values are not updated (only sometimes).Even when i manually create a fibration alarm, there is no change in the vibrationlevel reading. Im on 2.0.5 rc 5 and the latest xiaomi app

[2019-03-12 19:04] homey-theo opened #140 "Zigbee Aqara wireless mini switches losing connection"
I have two Zigbee Aqara wireless mini switches. These switches are connected but sometimes they do not response.

Because of that I bought two aqara socket plugs to create a mesh network so the connection of the switches should be better.

After installation of the sockets plugs the switches performed great but a few hours later I wanted to use the switches and no response!

In homey developer the

[2019-03-13 16:51] rvmuilekom69 commented on #139
Same here, on version 2.05

[2019-03-17 08:17] mauricesundermann commented on #117
I had the same problem. The solution of JustThe2ofUs is working for me. Thanks!

[2019-03-18 12:11] ronald2404 opened #142 "Zigbee qara temperatuur and humanity"
Hi since homey 2.0.5 the value of temperature and humidity is not updated. All 8days old. Also I wonder if you can set update frequence and what default preset is?

[2019-03-18 12:12] ronald2404 commented on #142
9397023f-035a-458f-8ec7-31cde6910295

[2019-03-18 12:21] homey-theo commented on #140
I have borrowed a Ikea Socket plug and when this Zigbee device is installed I can stop the flow as described above. The Zigbee Aqara wireless mini switches keep working. After I remove the IKEA Socket plug the Aqara wireless mini switches stop working. So it looks like the problem is in the aqara mesh network.

[2019-03-20 19:23] iformarco opened #143 "Error ‘status.invalid_setting_type’ Aqara Door Sensor"
Evert time I try to install the Sensor, I get the same error. I tried to push the setup button every 2 seconds, but that didn’t do the trick...

[2019-03-21 00:29] JustThe2ofUs commented on #142
Same issue here. Updating interval differs from device to device. 🤷‍♂️

[2019-03-22 21:27] iformarco commented on #143
Same error with the vibration sensor...

[2019-03-22 21:54] JustThe2ofUs commented on #143
Hiya. Check this. That is the only way it made me getting it to work. Ensure that the device is NOT aborting the pairing operation as described here:

https://github.com/TedTolboom/com.xiaomi-mi-zigbee/issues/117#issuecomment-461224521

[2019-03-22 22:10] iformarco commented on #143
Already tried that. Didn’t solve the problem...

[2019-03-23 09:24] stefanprotzman opened #144 "Het apparaat toevoegen duurde te lang"
Please come with a solution for this Bert annoying issue. All of the aqara sensors are useless and i'm not able to expand to get my home even more smarter...
I've tried everything. Deinstalling the xiaomi zigbee app didn't work, although the older in use sensors were able to add again. New sensors are not.

Please come with a solution.

[2019-03-23 16:36] kevvie opened #145 "Reverse direction aqara curtain motor"
Is there a possibility to reverse the direction of an aqara curtain motor?

I have two motors. One is working the way I like it. The other is going in the wrong direction.

Maybe it is a possibility to make a reverse direction button in the settings. Fibaro has such an option for the roller shutter.

Kind regards

[2019-03-26 13:27] PetrichorXyz opened #146 "App Crash"
**Homey:** v2.0.5
**App:** v0.5.4 - 04.03.19
**Gebruikte hardware:** Aqara Vibration Sensor

Bij starten van de App crashed hij.

![afbeelding](https://user-images.githubusercontent.com/2332343/55000465-d9f5c580-4fd2-11e9-9380-815eb811565d.png)

[2019-03-29 00:09] JustThe2ofUs commented on #142
Push*
The devices are literally not working

[2019-03-31 19:18] stefanprotzman commented on #146
Helaas wordt er nergens op gereageerd en lijkt er geen oplossing te komen. De top aqara sensoren zijn compleet nutteloos geworden zonder ondersteuning van de ontwikkelaar of athom.

[2019-04-01 09:55] PetrichorXyz commented on #146
@stefanprotzman: De Xiaomi / Aqara ZigBee app is een zogenaamde communityapp en is dus niet van Athom. Een door een vrijwilliger gemaakte app. Ik snap dat de ontwikkelaar er ook wel eens een week geen tijd voor heeft ondersteuning te bieden.

@TedTolboom :
Na upgrade naar v2.1.0-rc.2 is bij het probleem verholpen.

[2019-04-01 09:55] #146 closed

[2019-04-01 17:06] TedTolboom commented on #143
@iformarco @JustThe2ofUs it turns out to be a bug at Homey side, incorrectly parsing an array with 1 element, in combination with a device not always reporting it's productID. aka rare issue.

I've just updated the app to v0.5.5 with the containment for this issue.

I'll close this issue for now (assuming solved), please re-open if still not solved when the app is updated to v0.5.5

[2019-04-01 17:06] #143 closed

[2019-04-03 19:22] #145 closed

[2019-04-05 22:48] iformarco commented on #143
Ted: Thanks for the solution... It works great!

[2019-04-12 12:22] pendragon1 commented on #80
Any news on this? I know that the square sensor is showing battry info, the round one doesn't. Temperature would be great as well!

[2019-04-15 04:51] #144 closed

[2019-04-15 04:51] #138 closed

[2019-04-15 07:55] RossBrisbane opened #147 "Homey Update 2.1.1 Timeout does not add new sensor Zigbee to Xiaomi Zigbee App"
I cannot add/have trouble with Xiaomi Sensors directly through Zigbee in Homey

Adding a sensor switch button round (Mi) Zigbee based fails to add but responds initial reset. It just does time out. Following all instruction including resetting in adding device procedure. Just timeouts.

[2019-04-21 00:11] JustThe2ofUs commented on #51
Hi;
As it’s been a while (damn!) -
Is there any news, as I could kick all the sensors to trash can as they simply are useless when not updating their values anymore ?!?

[2019-04-21 00:14] JustThe2ofUs opened #148 "Again / Still: Sensors are not updating nor reporting"
While the temp / humi sensors seem to be willing to send an update re: values once per month, the motion sensors do not recognise light correctly (4 lx is not really what the light is about ...)

This error is an Evergreen, isn’t it?

However - the sensors are useless as long as they’re just not working 🤷‍♂️🤨🤮😣

[2019-04-21 09:10] deadoolish opened #149 "Xiaomi/Aqara app crashes"
Since yesterdayish the app starting to crash, after rester it crashes again within 10-15 hours. I did reinstall Trådfri app yesterday due to tried to add some more lamps but didnt worka and disabled it again, dont know if this triggered the crashes...
App version 0.5.5, Homey 2.1.1
Report:1b039b32-7d8e-4546-b0d0-fda823ebd6e6

[2019-05-01 19:19] mikevbruggen opened #150 "Temperature/humidity sensors won't pair"
Just purchased 2 Xiaomi/aqara temperature/humidity sensors.
both wont pair with the homey app. They both blink 3 times as required by the app but after that nothing happens.

I tried reinstalling the app and restarting homey but no succes.
It keeps onlys showing the install instructions screen and after that the time out screen.

Homey Pro (early 2019)
Homey version 2.1.1
App version 2.2.1.299
nod

[2019-05-03 22:22] DiedB commented on #148
Experimented with some motion sensors yesterday. Motion seems to work fine. Luminance is slow and seems to only update once motion is updated. I have been away from home for 10 hours now, and the luminance hasn't updated since.

I have a lot of programming knowledge and would like to help, if you could give me some pointers.

[2019-05-05 00:49] JustThe2ofUs commented on #148
Hiya; dunno what’s going on as the issue is existing since months now. I feel like he could really need your help as he doesn’t get it handled.

[2019-05-05 09:17] DiedB commented on #148
I did some research on the topic and it does not seem to be an issue on the Xiaomi side, as the sensors should be sending a report to Homey on every change of measurement.

I have a temperature/humidity sensor in the bathroom (for ventilation mainly), which is working fine. I've been away from home for a few days and it keeps reporting all its measurements correctly. Is your sensor not doing this

[2019-05-05 13:44] JustThe2ofUs commented on #148
Hiya;
As the App supports a ton of devices and thousands of users seem to use it, I can imagine that maintaining such an App is like a fulltime job!
If it sounds like being harsh sometimes - sorry -
It’s just that when the sensors don’t work correctly - the whole Homey System to me is not that good working as the main flows just don’t work.
However - I am not that firm w/ the IT behind but perhaps

[2019-05-06 18:52] HansBouwman commented on #150
Hi,

Same issue here with every aqara device I try. It worked in the beginning but after 2 days the temp. sensors lost connection. I removed all devices. app and resented the zigbee network. After that the only Aqara devices that work are the motion detector and the wireless switch (2018). The door/window sensors and temp. sensor will not pair.

[2019-05-07 15:27] piveslat opened #151 "Aqara vibration sensor sensitivity"
According to the specs of the sensor, it should be possible to set sensitivity level for vibrations between 1-23 where 1 is most sensitive to trigger an alarm. This value is not possible to set in the app, an improvement possibility?

[2019-05-09 17:38] mikevbruggen commented on #150
hi, thanks for your reply, Any updates on getting it to work? and do you have a homey pro or the "normal" version?

[2019-05-09 19:47] HansBouwman commented on #150
Yes finally got it to work one by one. The Aqara stuff is very sensitive if you press the "learn mode" button too quick it will not work. If you first select the right device in Homey add device screen, wait for the screen that says tot put the device in learn mode and then press the device button for 3 seconds most of the times it works. Sometimes you have to be very patient for it to work. In my

[2019-05-09 22:37] JustThe2ofUs commented on #148
Any news on that one here? I personally am very sorry but feel very annoyed as the app causes the sensors to just not work. 🤬

[2019-05-13 17:10] mikevbruggen commented on #150
Hello Hans,

Happy for you that you got it working again, unfortunately i still cant pair the Aqara devices with my homey pro (tried everything i described, and only start pressing when the screen asks me to). still hoping Ted has an idea what the issue can be. i also contacted Homey support for this issue but the directed me back to the App developer for help.

[2019-05-13 18:46] TedTolboom commented on #150
@mikevbruggen let’s see if we can solve the problem.

Can you check if the Zigbee chip is correctly booted by going to  https://developer.athom.com/tools/zigbee and check if this page is loading correctly or showing an error?

Can you share a sceenshot of the nodes overview? Do you have any other Zigbee devices added to the Homey pro?

Which device are you actually using? The round Xiaomi temperat

[2019-05-13 20:16] mikevbruggen commented on #150
Hello ted,

Thank you for your reply!
here we go:
![image](https://user-images.githubusercontent.com/50182320/57650586-70099d80-75cb-11e9-89fe-7cbbea4bae9d.png)

![image](https://user-images.githubusercontent.com/50182320/57650646-8fa0c600-75cb-11e9-9d42-ff0e56787712.png)

as you can see i have a lot of IKEA Tradfi led bulbs. what i do notice now for the first time is that some bulbs are shown mor

[2019-05-19 08:19] PeetersJan opened #152 "Add support for Aqara Wireless Relay Controller"
Add support for:
https://xiaomi-mi.com/sockets-and-sensors/Wireless Relay Controller/

![4c759c87-2de5-4c00-aeec-c13c67e51f15](https://user-images.githubusercontent.com/39444710/57979747-5a103880-7a22-11e9-8d4f-439558b9b516.jpg)

reference info:
Brand | Aqara
Model | LLKZMK11LM
Zigbee Model | lumi.relay.c2acn01
Wireless Connections | Zigbee

Probably, **adding the device to the wall switch driver

[2019-05-20 07:11] mickem commented on #51
I have had multiple devices stop working, buttons, temp, etc etc and what I do is "add them again", Homey will say "device already added" after which they all start working again (for a while).
Worth noticing is that it reoccurs with *the same devices* while other devices never have this issue so my guess is that it is a flaw in some devices now Homey/the app...
But re-adding them always seems to

[2019-05-20 11:06] JustThe2ofUs commented on #51
Hiya, see 3 posts above as Ted mentioned this is an issue w/ Homeys Core re Zigbee.
I contacted Athom support directly, mentioning this statement here as well.
I´d suggest you to do the same as addressing the issue directly to Athom might help:
https://support.athom.com/hc/en-us/articles/360015784034-Submit-a-support-request

[2019-05-20 20:04] Rvervuurt opened #153 "New Smart Plug not synching"
I don't know if they have released some new kind of smart plug, but mine is not synching at all. After holding the button down for 6+ seconds (from off-state), it starts blinking orange, not red and then blue (like the image in the Homey-app claims).

I don't know if this means they have made a new version, but it is just not being added to my homey, which made me open a ticket.

[2019-05-21 07:13] vandernorth commented on #101
Since the last firmware upgrade (v2.1.2) I've been able to connect my motion, temperature, vibration and door sensors without too much problems (pairing failed due too timeout or unknown shepherd device a few times). Wireless double switch works as well. So far so good 👍

[2019-05-21 08:41] #153 closed

[2019-05-21 08:42] Rvervuurt commented on #153
I found out there are two versions, Zigbee and Wifi, and I apparently bought the wrong one. Please consider this issue as closed!

[2019-05-22 07:57] cmd85 opened #154 "Aqara temperatire sensor not updating"
Hello,
i just booted my homey yesterday and added my sensor.
Worked fine for a few hours but now it havent reported anything for 11 hours.

Not sure how to go forward, can i set the update frequence somewhere or is there a way to see if its to far away?
But if its to far away shouldnt homey report it as "missing" or something.

[2019-05-22 10:18] JustThe2ofUs commented on #154
Hiya;
This seems to be a well known issue with Homeys Zigbee-Core, so nothing to do w/ the App itself. Unfortunately „all we can do is sit and wait“ 🎵 ... but it might be very helpful and increase speed of fixing if you could pls report this error to Athom Support as a request. So did I and some others as well.

[2019-05-23 20:07] ogrosko commented on #154
Can confirm same behaviour. And same problem I had with OpenHAB.
Read somewhere it is xiaomi issue to prevent using it with other brands :(

[2019-05-26 13:43] yan-zaitsev commented on #138
@stefanprotzman did you solve your problem? I have same problem :(

[2019-05-28 20:40] Atomicprogress commented on #152
Hi,
will it be compatible?
if yes when?

[2019-05-29 08:32] PeetersJan commented on #152
Don't know, it is awfully quiet here...  🤔

[2019-05-29 10:07] TedTolboom commented on #152
@PeetersJan see my PM I send you on the community forum.

Yes, I can integrate this device into the app, but experience with both Aqara and Homey’s Zigbee implementation is that I need to have the device myself to implement, debug and be able to support the follow-up questions.

So I would need to order a device first before I can implement support for it.

You can contribute by a paypal contribut

[2019-05-29 16:33] PeetersJan commented on #152
Perfect! I will make a paypay donation!

[2019-05-29 16:36] PeetersJan commented on #152
... but how :-)
Could you maybe point me to the right spot?
Thanx!

[2019-05-29 17:40] Atomicprogress commented on #152
Great! I will also make a donation! could you write the link for the paypal donation?

[2019-05-29 18:18] TedTolboom commented on #152
@PeetersJan thanks!
@Atomicprogress see the link at: https://apps.athom.com/app/com.xiaomi-mi

Much appreciated both!

[2019-05-29 19:02] Atomicprogress commented on #152
donation made, keep us updated :-)

[2019-05-31 14:18] Lavve commented on #147
Same issue with my xiaomi/aqara devices. I have today 12 zigbee units connected to Homey witch was added before the 2.0 update. After the update I cannot add zigbee devices anymore.

[2019-06-20 14:56] shideban opened #155 "Aqara Yeelicht dimmer"
Is it possible to incluud this Aqara Yeelight dimmer

[2019-06-24 08:45] matpit opened #156 "Motion sensor not reporting illuminance"
Hello,
It seems like the motion sensor only reports illuminance when the motion alarm is triggered.
Is it possible to get updates from the luminance-detector even though no motion is detected?
Right now the last report is 14 hours ago, the luminance must have changed during the night :)

[2019-06-24 12:12] JustThe2ofUs commented on #156
Hey; you’re right, this is how it works.
afaik it’s not possible but probably someone knows a workaround / flow to pretend motion is triggered.

[2019-06-24 19:59] matpit commented on #156
Do I have to buy a zigbee spider that climbs over the motion sensor every 15 minutes?
Or is there an easier way?

[2019-06-24 20:47] TedTolboom commented on #156
Yes, could be an option.
No, not that I and developers on other home automation networks am aware of.

Like mentioned, this is a known device limitation that can’t be changed.

I’ll assume that this answers your question (perhaps not the desired answer) and close this issue as such

[2019-06-24 20:48] #156 closed

[2019-06-30 20:20] Atomicprogress commented on #152
Hi Ted,
there are news?

[2019-07-01 23:43] JustThe2ofUs commented on #148
Hiya.
Seems like I’m repeating myself but:
Any news on this?!
The devices are just useless 🤷‍♂️

[2019-07-01 23:44] JustThe2ofUs commented on #142
Maybe this App is deadish...

[2019-07-04 13:13] shideban opened #157 "Xiaomu single wall switch (L)"
Best.

I would like to raise the following problem.  I am replacing all switches in the home with switches from Xiaomi.  However, with the last purchased copies I can't get it connected to the Zigbee network via the Homey app.  I get an error message every time.  The LED lights continue to flash red.  I could understand that one copy is defective, but I think four copies are at least bizarre.  Sin

[2019-07-05 11:07] Piotr-Grochowski opened #158 "Aqara motion sensor hacked - needs a little change in the driver"
Aqara motion sensor can be easily hacked to report motion every 5s instead of 60s which makes it much more usable. It works perfectly and doesn't have much impact on battery (checked it myself!). Here is how to do it: https://community.smartthings.com/t/making-xiaomi-motion-sensor-a-super-motion-sensor/139806

Unfortunatelly in Homey driver there is a limitation for min motion alarm reset to 60s.

[2019-07-15 10:34] chinswain commented on #155
This is a bluetooth device so would not be included in this library.

[2019-07-15 10:39] chinswain commented on #139
Same issue for me, I have an existing vibration sensor that was added some time ago (functions perfectly). I cannot add a second device. (The sensor is not detected at all during the add device process).

[2019-07-15 12:41] shideban commented on #155
Beste.

Bedankt om dit na te kijken. Ik had er geen idee van dat dit werkte via
bluetooth.
Zo zie ja maar, ik leer elke dag bij.
Jammer, maar niet getreurd, komt nog welwel vannaar pas.

Mvg
Serry Wendy

Op ma 15 jul. 2019 12:34 schreef chinswain <notifications@github.com>:

[2019-07-17 07:41] Atomicprogress commented on #152
Hi Ted,
could you give us an answer?
Did you buy the Aqara Wireless Relay Controller with our donations?
You are working to add in your application?

Tnx

[2019-07-17 13:52] TedTolboom commented on #152
@Atomicprogress yes I started working on the implementation, but failed to finish it (in a testable form) before my summer holidays.
I will continue / finalize mid of August.

[2019-07-17 19:52] voord099 opened #159 "Aqara curtain controller B1"
There is no support yet for the new Aqara curtain controller B1 (ZNCLDJ12LM)

[2019-07-17 21:35] Atomicprogress commented on #152
@TedTolboom Perfect, we look forward!! thanks :-)

[2019-07-20 08:52] Designburo commented on #26
The zones that have just been introduced into the homey.. was that what we were waiting for ?

[2019-07-23 11:27] phgmhendrix commented on #152
@Atomicprogress as an appreciation I have sent a donation also!
Hopefully we can expect support for this device soon.

Maybe a bit off-topic but: do these devices fit in the wall behind a standard pulse-switch?

[2019-07-27 06:44] Thenorneron commented on #26
Kinda disappointed Athom is working on irrelevant  things while whole zigbee update is just waiting...

[2019-07-27 14:06] TedTolboom commented on #26
@designburo we’re still waiting for the Zigbee rewrite AND implementation of the alarm cluster by Athom. No signs yet of both.

[2019-08-06 18:56] seblang opened #160 "Issue after restart homey"
882bd654-9e4d-40dc-8446-b68278c99a56

[2019-08-06 20:07] TedTolboom commented on #160
You’ll need to provide a more accurate issue description, because the provided description and log does not show anything:

A crash occurred for your app (version 0.5.5) at Aug 6, 2019 6:53 PM (UTC).

Homey software version: 2.5.0

Crash report:

Note: this log has been manually submitted by a user. Log ID: 882bd654-9e4d-40dc-8446-b68278c99a56 User Message: Issue after restart homey box
 ---- stdo

[2019-08-08 11:27] ashleywolf87 commented on #30
Hi guys I'm new with the whole business with Homey and its customization. May I know if the Xiaomi Gateway is needed for Homey to control this Aqara Curtain Motor ZNCLDJ11LM?

[2019-08-08 11:28] ashleywolf87 commented on #82
You'll need to call the Ghostbusters

[2019-08-11 11:20] homedean opened #161 "Will not add anymore devices"
I have multiple motion, temperature, door sensors and buttons, all working well and effectively.

However now the homey is refusing to add any more devices.  Tried a temp, door, button and motion sensor.  A couple of units new out of box, a couple older units that I haven't used in a while.

Any help would be hugely appreciated!

0cbf5eb2-7b1e-4ddf-ac74-5e59f899baf4

[2019-08-13 12:03] Dgh1974 opened #162 "Round temp/hum sensor not working"
Updates after adding for 15 to 30 mins. After that once a day when lucky. Pressing the button i have an instant update in homey.

I contactet athom butvthey claim its a bug in the app.

[2019-08-15 21:33] mackelito opened #163 "Add support for the XIAOMI Mijia camera"
This one :) https://www.banggood.com/Battery-Version-XIAOMI-Mijia-CMSXJ11A-1080P-Smart-Wireless-APP-Control-IP-Camera-Waterproof-Outdoor-Camera-AI-Moving-Detection-Infrared-Nighte-Version-Baby-Monitors-p-1498519.html

[2019-08-16 11:11] Svegg opened #164 "Add support for Aqara Water sensor :-)"

[2019-08-19 20:50] rgerr opened #165 "Smoke/gas detector support"
Hi and thanks for the app. Would you please add support for the Xiaomi smoke and gas detectors? Would be a nice addition.

[2019-08-20 20:41] JustThe2ofUs commented on #154
Hi Ted.
Can you give a brief update re: this issue as it seemed to require major changes of Athom in the Zigbee-Core?!

[2019-08-21 06:07] shaarkys commented on #154
What is interesting - in my case sensors were not updating like for month - after waking them up, again for few hours only. I purchased ZigBee repeater and since then it seems to be much better - seems the sensors are working now for 14 days in a row, which is my personal record. Would be as well interested on what is causing this, as other sensors (eg. Motion), located same place, are and were fi

[2019-08-21 06:10] cmd85 commented on #154
I got a repeater very close to the sensor and it still fails after a few hours.
It's weird since my other aqara sensors on my doors works perfectly fine, same distances or even longer away.

But both aqara temperature sensors fail, not sure if it's different types of protocols within zigbee they use.

[2019-08-21 06:11] shaarkys commented on #154
Also interesting, those sensors not updating in the past are now connected within mesh using more nodes as per https://developer.athom.com/tools/zigbee - so try to check this one

[2019-08-21 06:12] shaarkys commented on #154
![obrazek](https://user-images.githubusercontent.com/14859895/63406862-60c89600-c3eb-11e9-95a5-40d9575c35dc.png)

[2019-08-21 06:12] shaarkys commented on #154
Those three had problems in the past...now with Ikea ZigBee repeater looks much better.

[2019-08-21 06:16] cmd85 commented on #154
Actually checked that page now and saw it had more , and also checked the sensor now and it has started updating .

Tbh I haven't checked it in a month since I haven't heard anything new around this :)

Insights tells me it's working since July now which is great !
Maybe it was around that time I installed the door sensor close to it.

[2019-08-21 06:19] shaarkys commented on #154
Actually my experience was, that after installing repeater, it took several hours to get it really reflected.
Just what was also key was the right placement of the repeater itself.

[2019-08-21 06:28] andeno opened #166 "Xiaomi / Aqara ZigBee problem after Homey update 2.5.2"
After Homey update 2.5.2 tonight, the Aqara Wireless Switch Double (2018) is not working. I also have a Wireless Switch which however still works. Thanks

[2019-08-21 11:47] JustThe2ofUs commented on #154
When placing a Zigbee router (which is usually ridiculous as the App and Homey are dedicated to to exactly THAT) Homey needs a cold restart. Just then the mesh gets re-created and the repeaters get involved.

Honestly - dunno what I can do more than just asking here and in the forum but it doesn’t seem that anything happened here since 4 months. At least a comment would’ve been - well - adequate,

[2019-08-21 16:02] ashleywolf87 opened #167 "Is the gateway necessary to use supported Aqara smart devices with homey?"
Is the gateway necessary to use supported Aqara smart devices with homey?

[2019-08-22 06:17] rgerr commented on #167
No, you can add them to Homey without the Xiaomi gateway. Please note that in order to have a solid Zigbee network, you need powered Zigbee devices. Devices that work on battery do not empower the Zigbee network, but devices like lightbulbs do (when powered).

[2019-08-22 06:18] rgerr commented on #164
+1

[2019-08-22 06:20] rgerr commented on #161
Have you rebooted your device? And checked if the memory is not full?

[2019-08-22 13:13] ashleywolf87 commented on #167
What if I wanted to use Aqara Door/Window sensors to automate flows around the house? Those run on batteries

[2019-08-22 13:15] rgerr commented on #167
Depending on the size of your home, you would have to use Zigbee repeaters. For example Hue lightbulbs or Osram sockets. Add those to your Zigbee network on Homey and it will function as a mesh network which will enhance the signal for your Xiaomi contactsensors. From experience I can tell you this works like a charm.

[2019-08-22 16:45] ashleywolf87 commented on #167
does any device that uses zigbee function as a zigbee repeater or do i specifically need a repeater for zigbee? My home is an apartment(single floor) with 1590sqft of floor space

[2019-08-22 17:07] rgerr commented on #167
You can ofcourse try without any powered devices, only powered (as in connected to the main power line) are being used as repeaters, such as Zogbee lightbulbs and outlets. Are you planning to use smart lightbulbs? If so, choose lightbulbs that use ZigBee and connect them to Homey. That will improve your ZigBee network in case Homeys ZigBee network is not sufficient.

[2019-08-22 17:14] ashleywolf87 commented on #167
unfortunately my setup doesnt use any smart bulbs. All might lights will depend on Sonoff T3 smart switches flashed with tasmota to work with Homey.

So meaning to say as long as the smart device has zigbee functionality and it is a device which is powered NOT via a battery, it immediately functions as a mesh router?

[2019-08-22 17:16] rgerr commented on #167
Exactly.

[2019-08-22 22:05] JustThe2ofUs commented on #162
Yeah; it’s the same old game since 6 months now.
People here claim again and again that it’s a big of the App; Ted keeps telling it’s a big of Athom; Athom then says again it’s an issue of the App.

In the end it’s as usual: the customer is the idiot.

[2019-08-23 06:10] vjmikey opened #168 "I can add only 20 devices (I have 3 routers)"
Hii,

Yesterday I was setting up the xiaomi zigbee devices.

I've had 2 philips zigbee devices to make 2 routers. That I have no limit issue.

After a total of 20 zigbee devices incl the philips bulbs. I can't add more zigbee devices.
When I gonna ad a device I got the. Normal adding screen. But I got no text of adding to homey.

[2019-08-23 21:06] rgerr commented on #165
Just noticed this:

Devices Work in Progress (awaiting additional clusters in Homey's Zigbee implementation)

MiJia Honeywell Smoke Detector White
MiJia Honeywell Gas Leak Detector
MiJia Aqara Water sensor

[2019-08-23 21:06] #165 closed

[2019-08-23 21:06] rgerr commented on #164
Devices Work in Progress (awaiting additional clusters in Homey's Zigbee implementation)

MiJia Honeywell Smoke Detector White
MiJia Honeywell Gas Leak Detector
MiJia Aqara Water sensor

[2019-08-24 20:15] vjmikey commented on #168
ive got it fixed!

The xiaomi zigbee devices needs way more routers in the system. So i bought 4 Philips bulbs spread over the house. Removed all the zigbee devices first. Then adding the Bulbs.

Adding the Zigbee devices worked great!!

[2019-08-24 20:15] #168 closed

[2019-08-24 20:51] satoer commented on #166
Same here. 3 motion sensor's stopped working / updating brightness information after update 2.5.2 (other same sensors work fine)

[2019-08-27 07:19] FrankBakermans commented on #166
Same for me, mini switches, door contacts and motions sensors don't work anymore after the homey update

[2019-08-27 10:32] JustThe2ofUs commented on #166
Did you try the following:

1. Take Homey off power for 20 min and then put back on power again (=force mesh to re-build)

2. Remove devices from homey and re-add

[2019-08-27 17:20] FrankBakermans commented on #166
Hi,

I tried, first it was very difficult to remove the devices and I cannot re-add the devices. The process times out.

[2019-08-28 15:01] fschaal opened #169 "Add support for the Aqara Camera G2"
This one: https://nl.aliexpress.com/item/32843546982.html?spm=a2g0o.productlist.0.0.2d957ca0BlG5ny&algo_pvid=b056af2d-1cdd-4e92-a97f-3e659db9d784&algo_expid=b056af2d-1cdd-4e92-a97f-3e659db9d784-1&btsid=752e97f6-e4a1-4097-b94a-b3dbd9f48800&ws_ab_test=searchweb0_0,searchweb201602_3,searchweb201603_52

[2019-08-30 02:20] tranceblast commented on #166
I have the exact same problem with a lot of my Aqara motion sensors. Sometimes the sensor won't react and sometimes it does. I have tried to remove some sensors and ad them again but it's still the same. Sometimes it help to push the button och sometimes it won't and then I have to remove the sensor and ad it again. Have all my sensors problem or is it the app or homey?
PTP won't help...

[2019-08-30 10:15] satoer commented on #166
Ive removed the sensors, and added them again, and that seem to do the trick to fix the problem. But it's a big hassle because every flow that uses them needs to be fixed also.
After a couple of day's some other sensors failed / got stuck (door and window sensors). This time I could regain connection by using a PTP (Pull the plug) reset. I've also added a couple of sensors last couple of day's, ma

[2019-08-30 21:59] Dgh1974 opened #170 "Adding air pressure offset"
Hi

Can the air pressure get an offset setting ?
Its a few mbar off.

[2019-08-31 09:11] ronniham commented on #166
Yesterday ive bought a homey early 2019 and have 5 motion sensors from Aqara. None of them will connect. Homey is fully updated and had yesterday the last update available.

[2019-08-31 15:07] Zignature commented on #37
I would to have double click option :)

[2019-08-31 22:15] JustThe2ofUs commented on #166
Well, this forum is kinda dead and it’s with Zigbee since 8 months as follows:

• Devs will you it’s all Athoms fault and there has to be a complete new rewrite of its Zigbee core (see e.g. Gledopto App or this Xiaomi App here)
• Athom will keep claiming it’s not their fault

In the end you will end up w/ a device that’s kinda nice to play with, but you won’t get any support that will fulfil your

[2019-09-02 09:22] Zignature commented on #37
In the meantime I found it the 2018 version does support it by means of "activated scene".

[2019-09-03 14:55] mjolink opened #171 "No logging in a timeline available for Vibration sensor"
For several devices (e.g. motion sensor) the history is saved in a timeline. The vibration sensor also shows this option, but the statement is "er is nog geen apparaat historie".  When I tap the sensor the vibration alarm is turned on, so there is contact between the device and Homey.

Using:
App version V0.5.5
Homey V2.5.2

[2019-09-03 15:50] JustThe2ofUs commented on #171
While I am in love and in hate at the same time w/ my Homey and the Xiaomi-App I still am very eager to help where it’s possible. 😉😄 Suggestion:

Did you install the App Heimdall?
If not: Do so. Go to the Apps settings and enable “log” for your vibration sensors.
Then do something with them and check the history timeline IN THE HEIMDALL APP if the device reacted to your actions (can be seen in rea

[2019-09-03 19:58] mjolink commented on #171
Thnx for your quick reaction!
I have Heimdall installed and have tested your suggested scenario. In the Heimdall app the vibration detection is registered in the timeline of the app. It is not logged in the device timeline under Devices.

[2019-09-05 15:37] JustThe2ofUs commented on #171
Timeline in the device doesn’t track the events of the device. Pretty sure that it is not made for that?!

You may want to try the following workaround:
Create a flow. Under „THEN“ choose Heimdall, send value to timeline and as a Tag select the values of the vib sensor you want to see.
At least you will see something in the general timeline then.

-- // via mobile //
Am 3. Sept. 2019, 9:58 PM +020

[2019-09-06 12:26] GPBruins commented on #152
@TedTolboom When can we expect the relay to be included?

[2019-09-09 17:34] HenricAsk opened #173 "Aqara Wireless Remote Switch (2018)"
The switches stops working after a while (all from 1 day to 3 weeks). The only way to fix it (that I have found atleast) is to remove the switch from Homey then readd it again. Then it works for some time again. I have 3 switches installed and all behaves the same.

Running latest Homey firmware 2.5.2
Latest app-version

Best regards
Henric

[2019-09-09 20:16] JustThe2ofUs commented on #173
Welcome to Xiaomi. :))
This is the only solution so far.

-- // via mobile //
Am 9. Sept. 2019, 7:34 PM +0200 schrieb HenricAsk <notifications@github.com>:

[2019-09-09 20:48] TedTolboom commented on #152
Sorry guys... finally found some to work on it...
But the relay device I have appears to be dead.

Will need to start ordering one from China.

[2019-09-16 21:13] TedTolboom commented on #169
Aqara Camera G2 is not a Zigbee based device, but a seperate controller that will not be supported by this app

[2019-09-16 21:13] #169 closed

[2019-09-16 21:14] TedTolboom commented on #152
v0.6.0 with support for the Aqara relay is awaiting App store approval by Athom.

@PeetersJan @GPBruins thanks for supporting this activity.

I will close this issue, since completed

[2019-09-16 21:14] #152 closed

[2019-09-16 21:16] TedTolboom commented on #171
@mjolink by default Athom chose not to start logging all sensor data in the devices timeline.
What would be the added value to see all this data?

[2019-09-16 21:19] TedTolboom commented on #170
@Dgh1974 this might be possible, but this change will not be high on the prio list to add.

[2019-09-16 21:20] TedTolboom commented on #167
@ashleywolf87 I guess your original question has already been answered by @rgerr (thanks for that). I'll close this issue for now.

[2019-09-16 21:20] #167 closed

[2019-09-16 21:22] TedTolboom commented on #166
@JustThe2ofUs thanks for summarizing.

Athom is working on the Zigbee rewrite. Stability issues I can't control nor influence from within the app.